<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- CSS -->
   {{ if .Site.IsServer }}
   {{ $cssOpts := (dict "targetPath" "css/style.css" "enableSourceMap" true ) }}
   {{ $styles := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.co.css" . | toCSS $cssOpts }}
   <link rel=“stylesheet” as=“style” type=“text/css” href="{{ $styles.RelPermalink }}" media="screen">
    {{ else }}
   {{ $cssOpts := (dict "targetPath" "css/style.css" ) }}
   {{ $styles := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.co.css" . | toCSS $cssOpts | minify | fingerprint }}
   <link rel=“stylesheet” as=“style” type=“text/css” href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
    {{ end }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- FAVICON -->
    <link rel="icon no-follow" href="/images/favicon.ico" type="image/x-icon">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700|Open+Sans:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8b2e2ddb4.js" crossorigin="anonymous"></script>


    {{ if .IsHome }}
        <title>CloudOps</title>
    {{ else }}
        <title>CloudOps - {{ .Title }}</title>
    {{ end }}
</head>