<!-- NAVBAR -->
<div class="navbar-card" id="main-nav">
  <nav class="navbar navbar-expand-xl">
    <!-- Use text-hide bootstrap in order not to loose SEO-->
    <a class="navbar-brand mr-auto" href="/">
      <img src="/images/CO-logo-horizontal.svg" width="230px" alt="CloudOps logo">
    </a>
    <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-hamburger"></i></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto list-group list-group-flush">
        {{ partial (printf "menu-%s.html" .Lang) . }}
 
        {{ if .IsTranslated }}
          <li id="multi-language-menu" class="nav-item list-group list-group-flush">
            <a class="language nav-link language-menu list-group-item list-group-item-action" href="{{ .Permalink }}">{{ .Lang | upper }}</a>

            {{ range .Translations }}
              <p class="language-menu">|</p>
              <a class="language nav-link language-menu list-group-item list-group-item-action" href="{{ .Permalink }}">{{ .Lang | upper }}</a>
            {{ end }}

          </li>
        {{ end }}

      </ul>
    </div>

  </nav>

  {{ if .IsTranslated }}
  <div class="responsive-language-menu">
    <a href="{{ .Permalink }}">{{ .Lang | upper }}</a>

    {{ range .Translations }}
      <a href="{{ .Permalink }}">{{ .Lang | upper }}</a>
    {{ end }}

  </div>
{{ end }}

</div>