<!-- NAVBAR -->
<div class="navbar-card" id="main-nav">
  <nav class="navbar navbar-expand-xl">
    <!-- Use text-hide bootstrap in order not to loose SEO-->
    <a class="navbar-brand mr-auto" href="/">
      <img src="/images/cO-logo-horizontal.png" width="245px" height="auto" alt="CloudOps logo">
    </a>
    <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-hamburger"></i></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto list-group list-group-flush">

        <li class="nav-item dropdown">
          <a class="nav-link" href="/solutions" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Solutions</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="row">
              <div class="col-xl-12 nav-main-section">
                <button href="/solutions">Solutions Overview</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-0 solutions-dropdown-items-group">
                <a href="/using-cloud"><h3 class="dropdown-item list-group-item list-group-item-action">Using Cloud</h3></a>
                <a class="dropdown-item list-group-item list-group-item-action" href="/cloud-native-consulting">Cloud Native Consulting</a>
                <a class="dropdown-item list-group-item list-group-item-action" href="/cloud-migration">Cloud Migration</a>
                <a class="dropdown-item list-group-item list-group-item-action" href="/managed-services-augmented-support">Managed Services <br> Augmented Support</a>



              </div>
              <div class="col-xl-3 offset-xl-0 col-lg-3 offset-lg-1 solutions-dropdown-items-group">
                <a href="/delivering-cloud"><h3 class="dropdown-item list-group-item list-group-item-action">Delivering Cloud</h3></a>
                <a class="dropdown-item list-group-item list-group-item-action" href="/delivering-cloud-consulting">Consulting</a>
                <a class="dropdown-item list-group-item list-group-item-action" href="/managed-services-augmented-support">Managed Services <br> Augmented Support</a>
              </div>

              <div class="col-xl-3 offset-xl-0 col-lg-3 offset-lg-1 solutions-dropdown-items-group">
                <a href=""><h3 class="dropdown-item list-group-item list-group-item-action">Transformations</h3></a>
                <a class="dropdown-item list-group-item list-group-item-action" href="#">DevOps Transformation</a>
                <a class="dropdown-item list-group-item list-group-item-action" href="#">CloudOps Transformation</a>
                <a class="dropdown-item list-group-item list-group-item-action" href="#">NetDevOps Transformation</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 nav-cta">
                <img src="/images/navbar-arrows.svg">
              </div>
              <div class="col-xl-9 nav-cta horizontal-nav-cta">
                  <a href="https://cdn2.hubspot.net/hubfs/732832/Branded%20Images/EN_CloudOps_OP_Services_.pdf" target="_blank"><h2>Meet business goals more efficiently</h2>
                <p>Tips on how to transform your business by evolving team culture and tooling while adopting cloud native practices.</p><div class="triangle-right">
                    <div class="inner-triangle"></div></a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/training" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Training</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="row solutions-dropdown-row">
              <div class="col-xl-4 col-lg-4 training-dropdown-items-group">
                <img src="/images/" width="70px">
                <a class="dropdown-item list-group-item list-group-item-action" href="/workshops"><h3>Workshops</h3></a>
              </div>
              <div class="col-xl-4 col-lg-4 training-dropdown-items-group">
                <img src="/images/nav-experts.svg" width="70px">
                <a class="dropdown-item list-group-item list-group-item-action" href="/experts"><h3>Our Experts</h3></a>
              </div>
              <div class="col-xl-4 col-lg-4 training-dropdown-items-group">
                <img src="/images/nav-calendar.svg" width="70px">
                <a class="dropdown-item list-group-item list-group-item-action" href="/workshops-calendar"><h3>Calendar</h3></a>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 nav-cta">
                <img src="/images/navbar-arrows.svg">
              </div>
              <div class="col-xl-9 nav-cta horizontal-nav-cta">
                <a href="/images/ressources/infographics/kubernetes-distribution-3-1.pdf" target="_blank">
                <h2>Are you a Kubernetes unicorn?</h2>
                <p>Take our quiz to find out</p>
              </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown reading-dropdown">
          <a class="nav-link" href="/reading" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            data-reference="parent" data-offset="50%,20" aria-haspopup="true" aria-expanded="false">Reading</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="row">
              <div class="col-xl-3 nav-cta">
                <img src="/images/navbar-arrows.svg">
                <a href="https://cdn2.hubspot.net/hubfs/732832/Gated%20Content/WP_Securing%20Your%20DevOps%20Platform%20Enterprise_2019.pdf" target="_blank">
                <h2>Secure your DevOps platform</h2>
                <p>White paper highlighting how to handle security challenges faced by enterprises</p>
                </a>
              </div>
              <div class="col-xl-9">
                <div class="row sub-nav-items">
                  <div class="col-xl-12 nav-main-section">
                    <button href="/solutions">Solutions Overview</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-2 offset-xl-1">
                    <img src="/images/fish-circle.png" width="70px">
                  </div>
                  <div class="col-xl-3">
                    <h3 class="dropdown-item list-group-item list-group-item-action">Blog</h3>
                  </div>
                  <div class="col-xl-2 offset-xl-0">
                    <img src="/images/fish-circle.png" width="70px">
                  </div>
                  <div class="col-xl-3">
                    <a><h3 class="dropdown-item list-group-item list-group-item-action">Ressources</h3></a>
                    <a class="dropdown-item list-group-item list-group-item-action" href="#">White Papers</a>
                    <a class="dropdown-item list-group-item list-group-item-action" href="#">Case Studies</a>
                    <a class="dropdown-item list-group-item list-group-item-action" href="#">Infographics</a>
                    <a class="dropdown-item list-group-item list-group-item-action" href="#">One Pagers</a>
                  </div>
                </div>
              </div>
            </div>
        </li>
        <li class="nav-item dropdown company-dropdown">
          <a class="nav-link" href="/company" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            data-reference="parent" data-offset="50%,20" aria-haspopup="true" aria-expanded="false">Company</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="row">
              <div class="col-xl-3 nav-cta">
                <img src="/images/navbar-arrows.svg">
                <a href="/blog/cloudops-manifesto/" target="_blank">
                <h2>The CloudOps Manifetso</h2>
                <p>11 key success factors we have learned from our adventures in the cloud</p>
              </div>
              <div class="col-xl-6 nav-main-section">
                <button href="/why-cloudops">Why choose CloudOps</button>
                <div class="row sub-nav-items">
                  <div class="col-xl-3 offset-xl-0">
                    <img src="/images/fish-circle.png" width="70px">
                  </div>
                  <div class="col-xl-6">
                    <a class="dropdown-item list-group-item list-group-item-action" href="/about-us">About Us</a>
                    <a class="dropdown-item list-group-item list-group-item-action" href="/partners">Our Partners</a>
                    <a class="dropdown-item list-group-item list-group-item-action" href="">Careers</a>
                    <a class="dropdown-item list-group-item list-group-item-action" href="">Events Calendar</a>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 nav-cta">
                <img src="/images/navbar-arrows.svg">
                <a href="blog/staff-augmentation-vs-project-based-services-for-devops-and-cloud-projects/">
                <h2>Accelerate your software release cycles</h2>
                <p>Comparing staff augmentation to project-based services for DevOps and cloud projects</p>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn" type="submit">Contact</button>
        </li>
        <li>
          {{ if .IsTranslated }}
          {{ range .Translations }}

        <li id="multi-language-menu" class="nav-item list-group list-group-flush">
          <a class="language nav-link language-menu list-group-item list-group-item-action" href="/">EN</a>
          <p class="language-menu">/</p>
          <a class="language nav-link language-menu list-group-item list-group-item-action" href="/fr">FR</a>
        </li>
        {{ end }}
        {{ end }}
        </li>
      </ul>
    </div>
  </nav>
</div>