<li class="nav-item dropdown">
  <a
    class="nav-link"
    href="/fr/services-et-produits/"
    id="solutions-navbarDropdownMenuLink"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Services
  </a>

  <div class="dropdown-menu" aria-labelledby="solutions-navbarDropdownMenuLink">
    <div class="row">
      <div class="col-xl-12 nav-main-section">
        <a href="/fr/services-et-produits/">
          <button>Aperçu des services</button>
        </a>
      </div>
    </div>

    <div class="row">
      <div
        class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-0 solutions-dropdown-items-group"
      >
        <a href="/fr/utiliser-le-nuage">
          <h3 class="dropdown-item list-group-item list-group-item-action">
            Utiliser le nuage
          </h3>
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/consultation-en-nuage-natif"
        >
          Consultation en nuage natif
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/migration-vers-le-nuage"
        >
          Migration vers le nuage
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/services-geres-soutien-avance"
        >
          Services gérés <br/>
          Soutien avancé
        </a>
      </div>
      <div
        class="col-xl-3 offset-xl-0 col-lg-3 offset-lg-1 solutions-dropdown-items-group"
      >
        <a href="/fr/livrer-le-nuage">
          <h3 class="dropdown-item list-group-item list-group-item-action">
            Livrer le nuage
          </h3>
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/consultation-a-la-livraison-du-nuage"
        >
          Consultation
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/services-geres-soutien-avance"
        >
          Services gérés <br/>
          Soutien avancé
        </a>
      </div>
      <div
        class="col-xl-3 offset-xl-0 col-lg-3 offset-lg-1 solutions-dropdown-items-group"
      >
        <a href="/fr/transformations">
          <h3 class="dropdown-item list-group-item list-group-item-action">
            Transformations
          </h3>
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/transformations/#devops-transformation"
        >
          Transformation DevOps
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/transformations/#cloudops-transformation"
        >
          Transformation CloudOps
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/transformations/#devnetops"
        >
          Transformation DevNetOps
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 nav-cta">
        <img src="/images/navbar-arrows.svg" />
      </div>
      <div class="col-xl-9 nav-cta horizontal-nav-cta">
        <a href="/fr/evaluation-des-pratiques-et-plateformes-devops" target="_blank">
          <h2>Vous ne savez pas par où commencer?</h2>
          <p>
            Votre voyage avec CloudOps débute par une évaluation des pratiques et plateformes DevOps afin d’obtenir un rapport d’état objectif ainsi que des recommendations
          </p>
          <div class="triangle-right">
            <div class="inner-triangle"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</li>

<li class="nav-item dropdown" id="training-dropdown-menu">
  <a
    class="nav-link"
    href="/fr/ateliers"
    id="training-navbarDropdownMenuLink"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Apprentissage
  </a>

  <div class="dropdown-menu" aria-labelledby="training-navbarDropdownMenuLink">
    <div class="row solutions-dropdown-row">
      <div class="col-xl-4 col-lg-4 training-dropdown-items-group">
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/ateliers"
        >
          <img src="/images/nav-workshops.svg" height="70px" />
          <h3>Ateliers</h3>
        </a>
      </div>

      <div class="col-xl-4 col-lg-4 training-dropdown-items-group">
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/nos-experts"
        >
          <img src="/images/nav-experts.svg" height="70px" />
          <h3>Nos experts</h3>
        </a>
      </div>

      <div class="col-xl-4 col-lg-4 training-dropdown-items-group">
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/fr/calendrier"
        >
          <img src="/images/nav-calendar.svg" height="70px" />
          <h3>Calendrier</h3>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 nav-cta">
        <img src="/images/navbar-arrows.svg" />
      </div>
      <div class="col-xl-9 nav-cta horizontal-nav-cta">
        <a href="/fr/questionnaire-etes-vous-une-licorne-kubernetes" target="_blank">
          <h2>Êtes-vous une licorne kubernetes?</h2>
          <p>Répondez à notre questionnaire pour le savoir</p>
        </a>
      </div>
    </div>
  </div>
</li>

<li class="nav-item dropdown reading-dropdown">
  <a
    class="nav-link"
    href="/fr/resources"
    id="reading-navbarDropdownMenuLink"
    role="button"
    data-toggle="dropdown"
    data-reference="parent"
    data-offset="50%,20"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Lecture
  </a>

  <div class="dropdown-menu" aria-labelledby="reading-navbarDropdownMenuLink">
    <div class="row">
      <div class="col-xl-3 nav-cta">
        <img src="/images/navbar-arrows.svg" />
        <a
          href="https://cdn2.hubspot.net/hubfs/732832/CloudOps%20-%20livre%20blanc%20-%20Securiser%20votre%20plateforme%20DevOps%20-%20entreprise.pdf"
          target="_blank"
        >
          <h2>Sécurisez votre plateforme DevOps</h2>
          <p>
          Livre blanc qui décrit comment gérer les défis de sécurité auxquels les entreprises sont confrontées
          </p>
        </a>
      </div>

      <div class="col-xl-9">
        <div class="row solutions-dropdown-row">
          <div class="col-xl-2 offset-xl-1 col-lg-2 offset-lg-1">
            <a href="/fr/blog"><img src="/images/nav-blog.svg" height="70px"/></a>
          </div>

          <div class="col-xl-3 col-lg-3">
            <a href="/fr/blog">
              <h3 class="dropdown-item list-group-item list-group-item-action">
                Blogue
              </h3>
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/blog"
            >
              Articles
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/blog#community-news"
            >
              Communautée
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/blog#cloudops-press"
            >
              CloudOps dans la presse
            </a>
          </div>

          <div class="col-xl-2 offset-xl-0 col-lg-2">
            <a href="/fr/resources">
              <img src="/images/nav-resources.svg" height="70px" />
            </a>
          </div>

          <div class="col-xl-3 col-lg-3">
            <a href="/fr/resources">
              <h3 class="dropdown-item list-group-item list-group-item-action">
                Ressources
              </h3>
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/resources/white-papers/"
            >
              Livres blancs
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/resources/case-studies/"
            >
              Études de cas
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/resources/infographics/"
            >
              Infographiques
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/resources/one-pagers/"
            >
              Feuillets d'information
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="nav-item dropdown company-dropdown">
  <a
    class="nav-link"
    href="/fr/a-propos"
    id="company-navbarDropdownMenuLink"
    role="button"
    data-toggle="dropdown"
    data-reference="parent"
    data-offset="50%,20"
    aria-haspopup="true"
    aria-expanded="false"
    >Compagnie</a
  >
  <div class="dropdown-menu" aria-labelledby="company-navbarDropdownMenuLink">
    <div class="row">
      <div class="col-xl-3 nav-cta">
        <img src="/images/navbar-arrows.svg" />
        <a href="/fr/manifeste-cloudops" target="_blank">
          <h2>Le Manifeste de CloudOps</h2>
          <p>
            11 facteurs de réussite que nous avons tirés de nos voyages dans le nuage
          </p></a
        >
      </div>
      <div class="col-xl-6 nav-main-section">
        <a href="/fr/pourquoi-cloudops"><button>Pourquoi choisir CloudOps</button></a>
        <div class="row sub-nav-items">
          <div class="col-xl-3 offset-xl-2 col-lg-3 offset-lg-3">
            <img src="/images/description-logo.svg" width="70px" />
          </div>
          <div class="col-xl-6 col-lg-6">
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/a-propos"
              ><h3>À propos</h3></a
            >
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/partenaires"
              ><h3>Partenaires</h3></a
            >
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/carrieres"
              ><h3>Carrières</h3></a
            >
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/fr/calendrier#events"
              ><h3>Calendrier des évènements</h3></a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-3 nav-cta">
        <img src="/images/navbar-arrows.svg" />
        <a
          href="/fr/blog/projets-devops-et-infonuagiques-le-personnel-dappoint-ou-les-services-par-projets/"
        >
          <h2>Accélérez vos cycles de livraison de logiciel</h2>
          <p>
            Article de blogue qui compare l’augmentation du personnel aux services basés sur les projets dans le cadre de projets DevOps et infonuagiques
          </p>
        </a>
      </div>
    </div>
  </div>
</li>
<li class="nav-item">
  <a href="/fr/contactez-nous"><button class="btn" type="submit">Contact</button></a>
</li>
