<li class="nav-item dropdown">
  <a
    class="nav-link"
    href="/solutions"
    id="solutions-navbarDropdownMenuLink"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Solutions
  </a>

  <div class="dropdown-menu" aria-labelledby="solutions-navbarDropdownMenuLink">
    <div class="row">
      <div class="col-xl-12 nav-main-section">
        <a href="/solutions">
          <button>Solutions Overview</button>
        </a>
      </div>
    </div>

    <div class="row">
      <div
        class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-0 solutions-dropdown-items-group"
      >
        <a href="/using-cloud">
          <h3 class="dropdown-item list-group-item list-group-item-action">
            Using Cloud
          </h3>
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/cloud-native-consulting"
        >
          Cloud Native Consulting
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/cloud-migration"
        >
          Cloud Migration
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/managed-services-augmented-support"
        >
          Managed Services <br />
          Augmented Support
        </a>
      </div>
      <div
        class="col-xl-3 offset-xl-0 col-lg-3 offset-lg-1 solutions-dropdown-items-group"
      >
        <a href="/delivering-cloud">
          <h3 class="dropdown-item list-group-item list-group-item-action">
            Delivering Cloud
          </h3>
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/delivering-cloud-consulting"
        >
          Consulting
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/managed-services-augmented-support"
        >
          Managed Services <br />
          Augmented Support
        </a>
      </div>
      <div
        class="col-xl-3 offset-xl-0 col-lg-3 offset-lg-1 solutions-dropdown-items-group"
      >
        <a href="/transformations">
          <h3 class="dropdown-item list-group-item list-group-item-action">
            Transformations
          </h3>
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/transformations/#devops-transformation"
        >
          DevOps Transformation
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/transformations/#cloudops-transformation"
        >
          CloudOps Transformation
        </a>
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/transformations/#devnetops"
        >
          DevNetOps Transformation
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 nav-cta">
        <img src="/images/navbar-arrows.svg" />
      </div>
      <div class="col-xl-9 nav-cta horizontal-nav-cta">
        <a href="/devops-platform-practices-assessment" target="_blank">
          <h2>Not sure where to start?</h2>
          <p>
            Your journey with CloudOps begins with a DevOps Platform and
            Practices Assessment to get an objective status report and
            recommendations
          </p>
          <div class="triangle-right">
            <div class="inner-triangle"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</li>

<li class="nav-item dropdown" id="training-dropdown-menu">
  <a
    class="nav-link"
    href="/training"
    id="training-navbarDropdownMenuLink"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Training
  </a>

  <div class="dropdown-menu" aria-labelledby="training-navbarDropdownMenuLink">
    <div class="row solutions-dropdown-row">
      <div class="col-xl-4 col-lg-4 training-dropdown-items-group">
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/workshops"
        >
          <img src="/images/nav-workshops.svg" height="70px" />
          <h3>Workshops</h3>
        </a>
      </div>

      <div class="col-xl-4 col-lg-4 training-dropdown-items-group">
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/experts"
        >
          <img src="/images/nav-experts.svg" height="70px" />
          <h3>Our Experts</h3>
        </a>
      </div>

      <div class="col-xl-4 col-lg-4 training-dropdown-items-group">
        <a
          class="dropdown-item list-group-item list-group-item-action"
          href="/calendar"
        >
          <img src="/images/nav-calendar.svg" height="70px" />
          <h3>Calendar</h3>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 nav-cta">
        <img src="/images/navbar-arrows.svg" />
      </div>
      <div class="col-xl-9 nav-cta horizontal-nav-cta">
        <a href="/blog/quiz-are-you-a-kubernetes-unicorn/" target="_blank">
          <h2>Are you a Kubernetes unicorn?</h2>
          <p>Take our quiz to find out</p>
        </a>
      </div>
    </div>
  </div>
</li>

<li class="nav-item dropdown reading-dropdown">
  <a
    class="nav-link"
    href="/reading"
    id="reading-navbarDropdownMenuLink"
    role="button"
    data-toggle="dropdown"
    data-reference="parent"
    data-offset="50%,20"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Reading
  </a>

  <div class="dropdown-menu" aria-labelledby="reading-navbarDropdownMenuLink">
    <div class="row">
      <div class="col-xl-3 nav-cta">
        <img src="/images/navbar-arrows.svg" />
        <a
          href="https://cdn2.hubspot.net/hubfs/732832/Gated%20Content/WP_Securing%20Your%20DevOps%20Platform%20Enterprise_2019.pdf"
          target="_blank"
        >
          <h2>Secure your DevOps platform</h2>
          <p>
            White paper highlighting how to handle security challenges faced by
            enterprises
          </p>
        </a>
      </div>

      <div class="col-xl-9">
        <div class="row solutions-dropdown-row">
          <div class="col-xl-2 offset-xl-1 col-lg-2 offset-lg-1">
            <a href="/blog"><img src="/images/nav-blog.svg" height="70px"/></a>
          </div>

          <div class="col-xl-3 col-lg-3">
            <a href="/blog">
              <h3 class="dropdown-item list-group-item list-group-item-action">
                Blog
              </h3>
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/blog"
            >
              Blog Posts
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/blog#community-news"
            >
              Community News
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/blog#cloudops-press"
            >
              CloudOps Press
            </a>
          </div>

          <div class="col-xl-2 offset-xl-0 col-lg-2">
            <a href="/resources">
              <img src="/images/nav-resources.svg" height="70px" />
            </a>
          </div>

          <div class="col-xl-3 col-lg-3">
            <a href="/resources">
              <h3 class="dropdown-item list-group-item list-group-item-action">
                Resources
              </h3>
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/resources/white-papers/"
            >
              White Papers
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/resources/case-studies/"
            >
              Case Studies
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/resources/infographics/"
            >
              Infographics
            </a>
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/resources/one-pagers/"
            >
              One Pagers
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="nav-item dropdown company-dropdown">
  <a
    class="nav-link"
    href="/company"
    id="company-navbarDropdownMenuLink"
    role="button"
    data-toggle="dropdown"
    data-reference="parent"
    data-offset="50%,20"
    aria-haspopup="true"
    aria-expanded="false"
    >Company</a
  >
  <div class="dropdown-menu" aria-labelledby="company-navbarDropdownMenuLink">
    <div class="row">
      <div class="col-xl-3 nav-cta">
        <img src="/images/navbar-arrows.svg" />
        <a href="/blog/cloudops-manifesto/" target="_blank">
          <h2>The CloudOps Manifesto</h2>
          <p>
            11 key success factors we have learned from our adventures in the
            cloud
          </p></a
        >
      </div>
      <div class="col-xl-6 nav-main-section">
        <a href="/why-cloudops"><button>Why choose CloudOps</button></a>
        <div class="row sub-nav-items">
          <div class="col-xl-3 offset-xl-2 col-lg-3 offset-lg-3">
            <img src="/images/description-logo.svg" width="70px" />
          </div>
          <div class="col-xl-6 col-lg-6">
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/about-us"
              ><h3>About Us</h3></a
            >
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/partners"
              ><h3>Partners</h3></a
            >
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/careers"
              ><h3>Careers</h3></a
            >
            <a
              class="dropdown-item list-group-item list-group-item-action"
              href="/calendar#events"
              ><h3>Events Calendar</h3></a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-3 nav-cta">
        <img src="/images/navbar-arrows.svg" />
        <a
          href="blog/staff-augmentation-vs-project-based-services-for-devops-and-cloud-projects/"
        >
          <h2>Accelerate your software release cycles</h2>
          <p>
            Comparing staff augmentation to project-based services for DevOps
            and cloud projects
          </p>
        </a>
      </div>
    </div>
  </div>
</li>
<li class="nav-item">
  <a href="/contact-us"><button class="btn" type="submit">Contact</button></a>
</li>
