{{- partial "head.html" . -}}

<div class="error-page">
    <div class="logo-404">
        <a href="/">
            <img src="/images/CO-logo-horizontal.svg">
        </a>
    </div>
    <div class="main-image">
        <a href="/">
            <img src="/images/404.svg">
        </a>
    </div>
    <div class="main-sentence">
        <p>Oops! It seems like you got lost in the cloudscape</p>
    </div>
    <div class="secondary-sentence">
        <p>We can help with that! Navigate to our 
            <a href="/blog">blog</a>
             to learn from our expertise, find out more about our vast range of
            <a href="/solutions">solutions</a>
             or 
             <a href="contact-us">contact us</a>
              directly.
        </p>
    </div>
    <div class="social-circles">
        <div class="circle">
            <a href="https://www.linkedin.com/company/2174281/" target="_blank" rel="no-follow">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <div class="circle">
                <a href="https://www.facebook.com/Cloud0ps/" target="_blank" rel="no-follow"><i
                    class="fab fa-facebook-f"></i></a>
            </a>
        </div>
        <div class="circle">
                <a href="https://twitter.com/CloudOps_" target="_blank" rel="no-follow"><i
                    class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>
