
//--- IMPORT ---------------------------------//
@import 'hexi-flexi-grid';


//--- TEMPLATE -------------------------------//
#HexGrid {
//--- SETTINGS -------------- VALUES ---------//
  $gridWidth:   1500px;       // 'auto',(px,pt,r/em,vw/h)
  $gridHeight:  auto;       // 'auto',(px,pt,r/em,vw/h)
  $columnCount: 10;          // 'auto',(number)
  $rowCount:   10;          // 'auto',(number)
  $hexCount:    auto;       // 'auto',(number)
  $hexLayout:   row;        // 'row','column','strict'
  $gridOrient:  vertical;   // 'vertical','horizontal'
  $crop:        crop;       // 'none','crop'
  $cropFactor:  1;          // (number)
  $hexContent:  auto;       // 'auto','center'
  $hexSize:     30px;       // 'auto',(px,pt,r/em,vw/h)
  $hexMargin:   10px;      // (px,pt,r/em,vw/h)
  $hexShape:    hexagon;    // 'hexagon','circle'
  $hexColor:    #62B5E5;    // hexcode,rgb/a,named
  $images:      none;
//--- MIXINS ---------------------------------//
  @include hexWrapper($gridWidth,$gridHeight,
    $gridOrient,$rowCount,$columnCount);
  .hexCrop {@include hexCrop($crop,$cropFactor)}
  .hexGrid {@include hexContainer($gridWidth,$gridHeight,
    $gridOrient,$columnCount, $images,$rowCount,
    $hexLayout,$hexContent,$hexShape,$hexColor,
    $hexMargin,$hexCount,$hexSize,)}
//--- CUSTOM STYLES --------------------------//


//--------------------------------------------//
}


#Careers-Grid {
  //--- SETTINGS -------------- VALUES ---------//
    $gridWidth:   auto;       // 'auto',(px,pt,r/em,vw/h)
    $gridHeight:  700px;       // 'auto',(px,pt,r/em,vw/h)
    $columnCount: 10;          // 'auto',(number)
    $rowCount:   2;          // 'auto',(number)
    $hexCount:    20;       // 'auto',(number)
    $hexLayout:   column;        // 'row','column','strict'
    $gridOrient:  vertical;   // 'vertical','horizontal'
    $crop:        crop;       // 'none','crop'
    $cropFactor:  1;          // (number)
    $hexContent:  auto;       // 'auto','center'
    $hexSize:    auto;       // 'auto',(px,pt,r/em,vw/h)
    $hexMargin:   6px;      // (px,pt,r/em,vw/h)
    $hexShape:    hexagon;    // 'hexagon','circle'
    $hexColor:    #000;    // hexcode,rgb/a,named
    $images:      none;
  //--- MIXINS ---------------------------------//
    @include hexWrapper($gridWidth,$gridHeight,
      $gridOrient,$rowCount,$columnCount);
    .hexCrop {@include hexCrop($crop,$cropFactor)}
    .hexGrid {@include hexContainer($gridWidth,$gridHeight,
      $gridOrient,$columnCount, $images,$rowCount,
      $hexLayout,$hexContent,$hexShape,$hexColor,
      $hexMargin,$hexCount,$hexSize,)}
  //--- CUSTOM STYLES --------------------------//
  
  overflow: hidden;
  margin-left: -400px;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 100px;
  
  //--------------------------------------------//


  @media (max-width: 575.98px) {
    
  //--- SETTINGS -------------- VALUES ---------//
  $gridWidth:   575px;       // 'auto',(px,pt,r/em,vw/h)
  $gridHeight:  auto;       // 'auto',(px,pt,r/em,vw/h)
  $columnCount: 2;          // 'auto',(number)
  $rowCount:   10;          // 'auto',(number)
  $hexCount:    20;       // 'auto',(number)
  $hexLayout:   column;        // 'row','column','strict'
  $gridOrient:  vertical;   // 'vertical','horizontal'
  $crop:        crop;       // 'none','crop'
  $cropFactor:  1;          // (number)
  $hexContent:  auto;       // 'auto','center'
  $hexSize:    40px;       // 'auto',(px,pt,r/em,vw/h)
  $hexMargin:   6px;      // (px,pt,r/em,vw/h)
  $hexShape:    hexagon;    // 'hexagon','circle'
  $hexColor:    #000;    // hexcode,rgb/a,named
  $images:      none;

//--- CUSTOM STYLES --------------------------//

overflow: hidden;
margin-left: -400px;
margin-right: 0;
margin-top: 80px;

//--------------------------------------------//
}
  }