.cloud-migration
.jumbotron.hero {
    background-image: linear-gradient(to bottom right, #62B5E5, #005D91);
    border-top: 3px solid #005D91;
    padding: 130px 0;
    margin-bottom: 0;
}

.cloud-migration
.brand-promises-card {
    padding: 100px 0;
    background-color: #FBFBFB;
    background-image: url("../images/bottom-left-yellow-swoosh.png"), url("../images/top-right-yellow-swoosh.svg"), url("../images/dotted-triangles-yellow.svg"), url("../images/dotted-triangles-yellow.svg");
    background-position: left bottom, right top, left center, right center;
    background-repeat: no-repeat, no-repeat, repeat-y, repeat-y;
}

.cloud-migration .brand-promises-card h5 {
    color: #005D91;
    font-size: 28px;
    line-height: 1.8;
    font-weight: 400;
}

.cloud-migration .brand-promises-card h5 a {
    font-size: 28px;
}

.cloud-migration .case-studies-card h2 {
    text-align: center;
}


.cloud-migration
.jumbotron.hero h1 {
    text-align: left;
}

.cloud-migration
.jumbotron.hero img {
    position: absolute;
    top: -120px;
    left: 70px;
}


.cloud-migration .case-studies-card img {
    position: static;
    height: 200px;
    width: auto;
    padding-bottom: 25px;
}

.cloud-migration .case-studies-card img.image-for-desktop {
    width: 80%;
    height: auto;
} 

.cloud-migration .case-studies-card img.image-for-mobile {
    position: static;
    width: 130px;
    height: auto;
}

.cloud-migration .case-studies-card img.icons {
    width: 30px;
    height: auto;
    padding: 5px 0;
    display: inline;
    margin-top: 30px;
}

.cloud-migration .case-studies-card .no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.cloud-migration .bot-img {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
}

.cloud-migration .case-studies-card .row {
    margin-left: 0;
    margin-right: 0;
}

.cloud-migration .case-studies-card .challenges-card h6 {
    margin-top: 30px;
}


.cloud-migration .case-studies-card .with-bottom-line {
    border-bottom: 2px solid #FFE07F;
    margin-left: 16.666667%;
    margin-right: 16.666667%;
    margin-bottom: 100px;
    padding-bottom: 100px;
}


@media (max-width: 575.98px) {
    .cloud-migration
    .jumbotron.hero h1 {
        font-size: 50px;
        text-align: left;
    }

    .cloud-migration
    .jumbotron.hero h2 {
        text-align: left;
        font-size: 24px;
    }

    .cloud-migration
    .jumbotron.hero img {
        position: relative;
        top: 30px;
        width: 280px;
        left: 0;
    }

    .cloud-migration .hero-image-container {
        text-align: left;
    }

    .cloud-migration .case-studies-card img {
        height: 150px;
        width: auto;
    }

    .cloud-migration .case-studies-card .challenges-card h6 {
        margin-top: 0;
    }
    .cloud-migration .image-for-desktop {
        display: none;
    }

    .cloud-migration .bot-img {
        text-align: center;
    }
    
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .cloud-migration
    .jumbotron.hero img {
        position: relative;
        top: 30px;
        width: 430px;
        left: 0;
    }

    .cloud-migration .hero-image-container {
        text-align: left;
    }

    .cloud-migration .case-studies-card img {
        height: 170px;
        width: auto;
    }   
    .cloud-migration .image-for-desktop {
        display: none;
    } 

    .cloud-migration .bot-img {
        text-align: center;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {
    .cloud-migration
    .jumbotron.hero img {
        position: relative;
        top: 30px;
        left: 0;
    }

    .cloud-migration .hero-image-container {
        text-align: left;
    }

    .cloud-migration .case-studies-card img {
        height: 175px;
        width: auto;
    }
    
    .cloud-migration .image-for-mobile {
        display: none;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .cloud-migration
    .jumbotron.hero img {
        width: 400px;
    }

    .cloud-migration .image-for-mobile {
        display: none;
    }
    
}

@media (min-width: 1200px) {
    .cloud-migration .hero-image-container {
        text-align: left;
    }

    .cloud-migration
    .jumbotron.hero img {
        left: 20px;
        top: -160px;
    }

    .cloud-migration .image-for-mobile {
        display: none;
    }
}
