/************  Hero Styles  ***************/


.jumbotron.hero {
    background-image: url("../images/cO-hero.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 3px solid #005D91;
    margin-bottom: 0;
}

.jumbotron.hero h2 {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    line-height: 1.4;
}

.jumbotron.hero .card {
    background-color: #fff;
    border: 3px solid #62B5E5;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.jumbotron.hero .card .corner-triangle {
    border-color: transparent transparent #62B5E5 transparent;
}

.jumbotron.hero .card h5 {
    font-family: 'Montserrat', sans-serif;
    color: #005D91;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 25px;
}

.jumbotron.hero .card p {
    font-family: 'Open Sans', sans-serif;
    color: #005D91;
    font-size: 20px;
}


.jumbotron.hero .card:hover {
    box-shadow: inset 0px 0px 15px rgba(71, 95, 109, 0.5);
}

@media (max-width: 575.98px) {
    .jumbotron.hero h1 {
        font-size: 65px;
    }
    
    .jumbotron.hero h2 {
        font-size: 28px;
        line-height: 1.2;
    }

    .jumbotron.hero .card {
        position: relative;
        margin-top: 50px;  
    }

    .jumbotron.hero {
        padding-top: 0;
    }

    .jumbotron.hero h1 {
        margin-bottom: 0;
        padding-bottom: 30px;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .jumbotron.hero .card {
        position: relative;
        margin-top: 50px;  
    }

    .jumbotron.hero {
        padding-top: 0;
    }

    .jumbotron.hero h1 {
        margin-bottom: 0;
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .jumbotron.hero .card {
        position: relative;
        bottom: 0;
        right: 0;
    }

}




/************  Stand-Out Styles  ***************/

.stand-out {
    padding: 100px 0;
    background-image: url("../images/blue-dots-LEFT.png"), url("../images/yellow-dots-LEFT.png"), url("../images/blue-dots-RIGHT.png"), url("../images/yellow-dots-RIGHT.png");
    background-position: left top, left top, right top, right top;
    background-repeat: repeat-y, repeat-y, repeat-y, repeat-y;
    margin: 0;
}

.stand-out h2 {
    padding: 20px 10px 0 0;
}

.stand-out .row {
    margin: 0;
}

.stand-out .card-deck .card {
    background-color: #FFF;
    border: 2px solid rgba(98, 181, 229, 0.5);
    box-shadow: 2px 2px 8px #E2E2E2;
    border-radius: 0;
    margin: 10px;
}

.stand-out .card-deck .card > a {
    cursor: pointer;
    text-decoration: none;
}

.stand-out .card-deck .card:hover {
    box-shadow: inset 0px 0px 15px rgba(98, 181, 229, 0.4);
}

@media (max-width: 575.98px) {
    .stand-out {
        padding: 80px 0;
    }
    
    .stand-out h2 {
        padding: 0 0 30px;
    }

    .stand-out {
        background-image: url("../images/blue-dots-RIGHT.png"), url("../images/yellow-dots-RIGHT.png");
        background-position: right top, right top;
        background-repeat: repeat-y, repeat-y;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .stand-out {
        padding: 80px 0;
        background-image: url("../images/blue-dots-RIGHT.png"), url("../images/yellow-dots-RIGHT.png");
        background-position: right top, right top;
        background-repeat: repeat-y, repeat-y;
    }
    
    .stand-out h2 {
        padding: 0 0 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .stand-out {
        padding: 100px 0;
        background-image: url("../images/blue-dots-RIGHT.png"), url("../images/yellow-dots-RIGHT.png");
        background-position: right top, right top;
        background-repeat: repeat-y, repeat-y;
    }
    
    .stand-out h2 {
        padding: 0 0 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .stand-out {
        padding: 100px 0;
    }
    
    .stand-out h2 {
        padding: 0 0 40px;
    }
}

@media (min-width: 1200px) {

}

/************  Brand Promises Styles  ***************/

.brand-promises-card {
    padding: 100px 0;
    background-color: #FBFBFB;
    background-image: url("../images/bottom-left-swoosh.png"), url("../images/top-right-swoosh.png"), url("../images/dotted-triangles-left.png"), url("../images/dotted-triangles-right.png");
    background-position: left bottom, right top, left center, right center;
    background-repeat: no-repeat, no-repeat, repeat-y, repeat-y;
}

.brand-promises-card h2 {
    text-align: center;
}

.brand-promises-card h3 {
    color: #404040;
}

.brand-promises-card .promises-explained p {
    padding-top: 50px;
    line-height: 1.6;
}
.brand-promises-card .brand-promises-row {
    margin: 70px auto;
}
.brand-promises-card .cta {
    border-top: 2px solid #FFE07F;
    text-align: center;
    padding-top: 35px;
    height: 70px;
}

.brand-promises-card .cta a p {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    color: #005D91;
}

.brand-promises-card .cta .triangle-right {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #005D91;
    vertical-align: middle;
}

.brand-promises-card .cta .inner-triangle {
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent #fff;
}


.brand-promises-card .cta:hover .inner-triangle {
    border-color: transparent;
    transition-duration: 0.25s;
}

.brand-promises-card .cta a p:link {
    font-family: 'Open Sans';
    color: #005D91;
    font-size: 18px;
    margin: 0 auto;
}

.brand-promises-card .cta a p:active {
    color: #005D91;
    text-decoration: underline;
}

.brand-promises-card .cta a p:hover {
    color: #005D91;
    text-decoration: underline;
}

.brand-promises-card .cta a:visited {
    color: #005D91;
}

.brand-promises-card .cta a:link {
    font-family: 'Open Sans';
    color: #005D91;
    font-size: 18px;
    margin: 0 auto;
}

@media (max-width: 575.98px) {
    .brand-promises-card {
        padding: 100px 0;
        background-color: #FBFBFB;
        background-image: url("../images/bottom-left-swoosh.png"), url("../images/top-right-swoosh.png");
        background-position: left bottom, right top;
        background-repeat: no-repeat, no-repeat;
        text-align: center;
    }

    .brand-promises-card h2 {
        margin-right: -15px;
        margin-left: 15px;
    }

    .brand-promises-card .card-title {
        margin-top: 20px;
        padding-top: 10px;
    }
    .brand-promises-card .brand-promises-row {
        margin: 20px auto;
    }
    .brand-promises-card .cta {
        margin-left: 30px;
        padding: 5% 1%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .brand-promises-card {
        padding: 100px 0;
        background-color: #FBFBFB;
        background-image: url("../images/bottom-left-swoosh.png"), url("../images/top-right-swoosh.png");
        background-position: left bottom, right top;
        background-repeat: no-repeat, no-repeat;
        text-align: center;
    }
    .brand-promises-card .card-title {
        margin-top: 20px;
        padding-top: 10px;
    }
    .brand-promises-card .brand-promises-row {
        margin: 20px auto;
    }

    .brand-promises-card .cta {
        margin-left: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .brand-promises-card {
        padding: 100px 0;
        background-color: #FBFBFB;
        background-image: url("../images/bottom-left-swoosh.png"), url("../images/top-right-swoosh.png"), url("../images/dotted-triangles-left.png"), url("../images/dotted-triangles-right.png");
        background-position: left bottom, right top, left center, right center;
        background-repeat: no-repeat, no-repeat, repeat-y, repeat-y;
        text-align: center;
    }
    .brand-promises-card .card-title {
        margin-top: 20px;
        padding-top: 10px;
    }
    .brand-promises-card .brand-promises-row {
        margin: 20px auto;
    }

    .brand-promises-card .cta {
        margin-left: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .brand-promises-card .brand-promises-row {
        margin: 70px 75px;
    }
}

@media (min-width: 1200px) {

}

/************  Customers Styles  ***************/

.customers-card {
    text-align: center;
    padding: 50px 0;
}
.customers-card h2 {
    font-family: 'Montserrat', sans-serif;
    color: #005D91;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 50px auto;
}

.customers-card img {
    vertical-align: middle;
    width: 200px;
    margin: 30px;
}

.customers-card .zuora-logo {
    width: 140px;
}

.customers-card .liberty-logo {
    width: 90px;
}

.customers-card .row .customers-row {
    padding: 40px 0;
}


@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}



/************  Design-build-transform Styles  ***************/
.design-build-transform-card .row {
    margin-left: 0;
}


.design-build-transform-card {
    background-color: #FBFBFB;
    background-image: url("../images/arrows-tripleline.svg");
    background-position: left center;
    background-repeat: repeat-x;
    padding: 100px 0;
}

.design-build-transform-card h2 {
    text-align: center;
    margin: 0 auto 60px;
}

.design-build-transform-card .card-deck .card {
    background-color: #FFF;
    box-shadow: 2px 2px 8px #E2E2E2;
    border-radius: 0;
}

.design-build-transform-card .card-deck .card:hover {
    box-shadow: inset 0px 0px 10px rgba(169, 175, 179, 0.2);

}

.design-build-transform-card .card-deck .card > a {
    cursor: pointer;
    text-decoration: none;
}


@media (max-width: 575.98px) {
    .design-build-transform-card {
        background-size: 70%;
        background-position: left 4%;
        }
    .design-build-transform-card h2 {
        text-align: center;
        margin: 0 auto 20px;
    }
    .design-build-transform-card .card-deck .card {
        margin: 30px 0px;
    } 
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .design-build-transform-card {
        background-color: #FBFBFB;
        background-image: url("../images/arrows-tripleline.svg");
        background-size: 50%;
        background-position: left 5%;
        background-repeat: repeat-x;
        padding: 100px 0;
    }

    .design-build-transform-card .card-deck .card {
        margin: 40px 3px;
    }
    .design-build-transform-card {
        padding: 80px 0;
    }
    
    .design-build-transform-card h2 {
        padding: 0 0 30px;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .design-build-transform-card .card-deck .card {
        margin: 0 5px;
    }

    .design-build-transform-card {
        padding: 80px 0;
    }
    
    .design-build-transform-card h2 {
        padding: 0 0 30px;
        margin-bottom: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .design-build-transform-card h2 {
        padding: 0 0 60px;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {

}


/************  Community Styles  ***************/

.community-card {
    padding: 100px 0;
}

.community-card h2 {
    text-align: center;
    margin: 0 auto 100px;
}

.community-card .card-title {
    display: inline-block;
}

.community-card img {
    width: 100%;
}

.community-card .corner-triangle {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.community-card .triangle-right {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #005D91;
    vertical-align: middle;
}

.community-card .inner-triangle {
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent #fff;
}

.community-card .events {
    border-right: 2px solid #FFE07F;

}

.community-card .events:hover .inner-triangle {
    border-color: transparent;
    transition-duration: 0.25s;
}

.community-card .events:hover .inner-triangle,
.community-card .meetups:hover .inner-triangle,
.community-card .blog:hover .inner-triangle {
    border-color: transparent;
    transition-duration: 0.25s;
}

.community-card .events,
.community-card .blog {
    padding: 25px;
}
.community-card .events:hover,
.community-card .blog:hover {
    cursor: pointer;
}
.community-card .events:hover .card-title,
.community-card .blog:hover .card-title {
    text-decoration: underline;
    }

@media (max-width: 575.98px) {
    .community-card {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .community-card img {
        max-width: 200px;
        padding: 0 0 50px;
    }

    .community-card .events {
        border-right: none;
        border-bottom: 2px solid #FFE07F;
        margin-bottom: 5px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .community-card {
        text-align: center;
    }

    .community-card img {
        max-width: 200px;
        padding: 0 0 50px;
    }

    .community-card .events {
        border-right: none;
        border-bottom: 2px solid #FFE07F;
        margin-bottom: 5px;
    }



}

@media (min-width: 768px) and (max-width: 991.98px) {
    .community-card {
        text-align: center;
    }

    .community-card h2 {
        margin-bottom: 50px;
    }

    .community-card img {
        max-width: 300px;
        padding: 0 0 50px;
    }

    .community-card .events {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .community-card .blog {
        padding-left: 25px !important;
        padding-right: 25px !important;

    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .community-card .events {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .community-card .blog {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media (min-width: 1200px) {

    .community-card .events {
        padding-left: 25px !important;
        padding-right: 25px !important;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .community-card .blog {
        padding-left: 25px !important;
        padding-right: 25px !important;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}



/************  Case studies Styles  ***************/


.case-studies-card {
    background-color: #FBFBFB;
    background-image: url("../images/stars.svg");
    background-position: left center;
    background-repeat: repeat;
    padding: 100px 0;
}

.case-studies-card h2 {
    margin: 0 auto 50px;
}


.case-studies-card button {
    background-color:#005D91;
    width: 232px;
    height: 35px;
    border-radius: 4px;
    border-color: transparent;
    color: #FFF;
    padding: 0;
    font-size: 14pt;
    box-shadow: none;
    margin: 20px 0 70px;
}


.case-studies-card button:hover {
    background-color: #FFF;
    color: #005D91;
    border: solid 1px #005D91;
    transition-duration: 0.6s;
}

.case-studies-card .devops-case-study {
    border-bottom: 2px solid #FFE07F;
}
.case-studies-card .client-quote {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 16pt;
    color: #005D91;
    line-height: 1.4;
    text-align: right;
    padding-top: 50px;
}


.case-studies-card .client-photo {
    position: absolute;
    top: 30px;
    left: 65px;
    box-shadow: 0px 0px 10px 2px rgba(98, 181, 229, 0.4);
}

@media (max-width: 575.98px) {
    .case-studies-card {
        text-align: center;
    }

    .case-studies-card {
        padding: 70px 15px;
    }
    
    .case-studies-card h2 {
        margin: 0 auto 50px;
    }

    .case-studies-card .devops-case-study {
        border-bottom: none;
    }

    .case-studies-card .client-quote {
        padding: 50px 0 0 0;
    }
    .case-studies-card .client-photo {
        position: static;
        height: 130px;  
        width: auto;
    }

    .case-studies-card .center-align {
        text-align: center;
    }

}
@media (min-width: 576px) and (max-width: 767.98px) {

    .case-studies-card .devops-case-study {
        border-bottom: none;
    }

    .case-studies-card .client-quote {
        margin-left: 15px;
        margin-right: 15px;
    }
    .case-studies-card .client-photo {
        position: static;
        height: 150px;  
        width: auto;
    }

    .case-studies-card .center-align {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .case-studies-card .client-photo {
        top: 180px;
        left: 55px;
        height: 170px;  
        width: auto;
        position: absolute;  
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .case-studies-card .client-photo {
        top: 100px;
        left: 60px;
        height: 200px;  
        width: auto;
        position: absolute;  
    }

}

@media (min-width: 1200px) {
    .case-studies-card .client-photo {
        top: 40px;
        left: 25px;
        position: absolute;    
        height: 230px;  
        width: auto;
    }
}


/************  Contact us Styles  ***************/


.contact-us-card {
    background-image: url("/images/bottom-left-yellow-swoosh.png"), url("/images/top-right-yellow-swoosh.svg");
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    padding: 100px 0;
}
.contact-us-card img {
    margin-top: 35px;
    width: 100%;
    padding-bottom: 50px;
}

.contact-us-card h2 {
    padding-right: 40px;
}

.contact-us-card .general-contact-form input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: transparent;
    border: solid transparent 1px;
    border-bottom: #404040 1px solid;
}

.contact-us-card .general-contact-form ::placeholder {
    color:#404040;
    opacity: 1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }

  .contact-us-card .general-contact-form ul {
    list-style-type: none;
    padding: 15px 0 0 0;
}

.contact-us-card .general-contact-form  li {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    line-height: 1;
    font-size: 16px;
    padding-bottom: 0;
}

.contact-us-card .general-contact-form li a {
    font-size: 16px;
}

.contact-us-card .general-contact-form  li span {
    margin-left: 5px;
    padding-top: 0;
}

.contact-us-card .general-contact-form .legal-consent-container .hs-form-booleancheckbox-display input {
    margin-top: 5px;
}

.contact-us-card .general-contact-form input.hs-button {
    background-color: #005D91;
    width: 150px;
    height: 35px;
    color: #FFF;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: none; 
}


.contact-us-card .general-contact-form .legal-consent-container .hs-form-booleancheckbox-display p {
    padding-left: 15px;
    display: block;
    text-align: left;
    font-size: 12px;
    margin-bottom: 0;
}

.contact-us-card .general-contact-form .legal-consent-container label.hs-form-booleancheckbox-display {
    margin-bottom: 0;
}

.contact-us-card .general-contact-form .legal-consent-container .hs-form-booleancheckbox-display a {
    font-size: 12px;
    line-height: 1;
}

.contact-us-card .general-contact-form .hs-richtext p {
    font-size: 12px;
    line-height: 1;
}

.contact-us-card .general-contact-form input.hs-button:hover {
    background-color: #FFF;
    color: #005D91;
    border: solid 1px #005D91;
    transition-duration: 0.6s;
}


.contact-us-card .general-contact-form .hs-form-required {
    display: none;
}

.contact-us-card .general-contact-form .hs-error-msg {
    font-size: 10px;
    color: #404040;
    position: absolute;
}

.contact-us-card .general-contact-form textarea {
    margin-top: 10px;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 25px;
    border-bottom: 1px #404040 solid;
}

.contact-us-card .general-contact-form ul.inputs-list.multi-container {
    padding-top: 0;
    margin-bottom: 0;
}

form option {
    background: #FBFBFB;
} 

.contact-us-card .general-contact-form .input select {
    color: #404040;
    font-size: 16px;
    box-shadow: 0;
}

.contact-us-card .general-contact-form li.hs-form-checkbox {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.contact-us-card .general-contact-form li.hs-form-checkbox>span {
    display: block;
    margin-top: -20px;
    margin-left: 20px;
}


.contact-us-card .general-contact-form ul.inputs-list {
    padding-top: 0;
    margin-bottom: 0;
}

.contact-us-card .general-contact-form fieldset.form-columns-1 .hs-fieldtype-checkbox.field.hs-form-field>label {
    margin-top: 30px;
    color: #404040;
    font-size: 16px;
}

.contact-us-card h2 {
   padding: 40px 0 0 0;
}

@media (max-width: 575.98px) {
   .contact-us-card h2 {
        text-align: center;
        margin-left: 15px;
        margin-right: -15px;
   }

   .contact-us-card p.under-title {
       padding-top: 40px;
   }

   .contact-us-card {
    text-align: left;
}

.contact-us-card .general-contact-form {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 30px;
    }

.general-contact-form .hs-submit {
    text-align: left;
    margin-left: 15px;
    }

.contact-us-card p {
    margin-left: 15px;
    margin-right: -15px;
    text-align: left;
    }

    .contact-us-card .general-contact-form li.hs-form-checkbox {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }


    .contact-us-card .general-contact-form .hbspt-form {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}


@media (min-width: 576px) and (max-width: 767.98px) {  
    .contact-us-card h2 {
        text-align: center;
    }

    .contact-us-card p.under-title {
        padding-top: 40px;
    }
    
   .contact-us-card {
    text-align: left;
    }

    .contact-us .general-contact-form {
        margin-left: auto;
        margin-right: auto;
    }

    .general-contact-form .hs-submit {
    text-align: left;
    margin-left: 15px;
    }

    .contact-us-card p {
    text-align: left;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .contact-us-card h2 {
        text-align: center;
    }

    .contact-us-card img {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .general-contact-form {
        margin-left: auto;
        margin-right: auto;
    }
}