/************  About Us page  ***************/

.about-us
.jumbotron.hero {
    background-image: linear-gradient(to bottom right, #FFE07F, #FFD44C);
    border-top: 3px solid #005D91;
    margin-bottom: 0;
    color: #fff;
}

.about-us
.jumbotron.hero h1,
.about-us
.jumbotron.hero h2 {
    text-align: right;
    color: #404040;
}

.about-us
.jumbotron.hero img {
    position: absolute;
    top: -140px;
}

.about-us .case-studies-card .devops-case-study {
    border-bottom: none;
}

.about-us .case-studies-card .devops-case-study h2 {
    margin-top: 200px;
    text-align: left;
}

.about-us
.brand-promises-card {
    background-image: url("../images/bottom-left-swoosh.png"), url("../images/top-right-swoosh.png");
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
}
.about-us .brand-promises-card h2 {
    text-align: center;
    padding-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

.about-us .brand-promises-card .promises-explained p {
    padding-top: 0;
    margin-bottom: 0;
}

.about-us .brand-promises-card {
    padding-left: 15px;
    padding-right: 15px;
}

.about-us .case-studies-card {
    text-align: center;
    padding-top: 0s;
}

.about-us .case-studies-card p {
    text-align: left;
}

.about-us .case-studies-card img {
    position: static;
    width: 230px;
    height: auto;
    padding-bottom: 40px;
}

.about-us .case-studies-card .all-content-row {
    margin-left: 0;
    margin-right: 0;
    padding-top: 100px;
}

.about-us .case-studies-card .all-content-row img {
    height: 90px;
    width: auto;
}

.about-us .brand-promises-card .promise img {
    margin: 35px 0 35px;
}

.about-us .affiliated-companies {
    padding-left: 25px;
    padding-right: 0;
}


.about-us .affiliated-companies img {
    width: 200px;
}

.about-us .case-studies-card .devops-case-study .background-to-an-image {
    position: absolute;
    width: 260px;
    top: -80px;
    left: 180px;
    z-index: 1;
}

  body .our-team-card {

    h2 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
      
    .container {
      padding: 0;
      margin-bottom: 100px;
    }
  }
  
@media (max-width: 575.98px) {
    .about-us
    .jumbotron.hero h1 {
        font-size: 50px;
        text-align: left;
    }

    .about-us
    .jumbotron.hero h2 {
        text-align: left;
        font-size: 24px;
    }

    .about-us
    .jumbotron.hero img {
        position: relative;
        top: 30px;
        width: 280px;
        padding-bottom: 30px;
    }

    .about-us .hero-image-container {
        text-align: left;
    }

    .about-us .case-studies-card p {
        text-align: left;
     }

    .about-us .case-studies-card .devops-case-study h2 {
        margin-top: 0;
    }

    .about-us .case-studies-card .why-image-container {
        text-align: left;
    }

    .about-us .devops-case-study img {
        left: 0;
        top: 0;
        position: relative;
        width: 200px;
        margin: 50px 0 20px;
        z-index: 1000;
    }

    .about-us .brand-promises-card p {
        text-align: left;
    }

    .about-us .case-studies-card .all-content-row {
        padding-top: 0;
    }


    .about-us .devops-case-study img.front-image {
        width: 200px;
    }

    .about-us .case-studies-card .devops-case-study .background-to-an-image {
        position: absolute;
        width: 160px;
        top: -40px;
        left: 70px;
        z-index: 1;
        overflow: hidden;
    }

    .about-us .case-studies-card button.btn {
        margin-bottom: 20px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    .about-us
    .case-studies-card {
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .about-us
    .jumbotron.hero img {
        position: relative;
        top: 30px;
        width: 430px;
    }

    .about-us .brand-promises-card {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about-us .case-studies-card .devops-case-study h2 {
        margin-top: 0;
    }

    .about-us .hero-image-container {
        text-align: right;
    }

    .about-us .devops-case-study img {
        text-align: left;
        position: relative;
        z-index: 1000;
        margin-bottom: 0;
        margin-top: 50px;
    }

    .about-us .case-studies-card .devops-case-study .background-to-an-image {
        position: absolute;
        width: 175px;
        top: -20px;
        left: 275px;
        z-index: 1;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .about-us
    .jumbotron.hero img {
        position: relative;
        top: 30px;
    }

    .about-us .hero-image-container {
        text-align: right;
    }
    

    .about-us .devops-case-study img {
        margin-top: 200px;
        width: 100%;
        position: relative;
        z-index: 1000;
        left: 0;
    }

    .about-us
    .case-studies-card {
        padding-top: 0;
    }


    .about-us .case-studies-card .devops-case-study .background-to-an-image {
        position: absolute;
        width: 175px;
        top: 70px;
        left: 140px;
        z-index: 1;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .about-us .devops-case-study img {
        margin-top: 200px;
        width: 250px;
        position: relative;
        z-index: 1000;
        left: 0;
    }

    .about-us
    .jumbotron.hero img {
        left: 0;
        top: -40px;
        width: 400px;
    }

    .about-us .case-studies-card .devops-case-study .background-to-an-image {
        position: absolute;
        width: 200px;
        top: 50px;
        left: 150px;
        z-index: 1;
    }
    
}

@media (min-width: 1200px) {
    .about-us .hero-image-container {
        text-align: left;
    }

    .about-us .devops-case-study img {
        margin-top: 200px;
        width: 300px;
        position: relative;
        z-index: 1000;
    }

    .about-us
    .case-studies-card {
        padding-top: 0;
    }

    .about-us .devops-case-study img.front-image {
        width: 330px;
    }
}