/************  About Us page  ***************/

.about-us
.jumbotron.hero {
    background-image: linear-gradient(to bottom right, #FFE07F, #FFD44C);
    border-top: 3px solid #005D91;
    margin-bottom: 0;
    color: #fff;
}

.about-us
.jumbotron.hero h1,
.about-us
.jumbotron.hero h2 {
    text-align: right;
    color: #404040;
}

.about-us
.jumbotron.hero img {
    position: absolute;
    top: -140px;
}

.about-us .case-studies-card .devops-case-study {
    border-bottom: none;
}

.about-us .case-studies-card .devops-case-study h2 {
    margin-top: 200px;
}

.about-us
.brand-promises-card {
    background-image: url("../images/bottom-left-swoosh.png"), url("../images/top-right-swoosh.png");
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
}
.about-us .brand-promises-card h2 {
    text-align: center;
    padding-bottom: 30px;
}

.about-us .case-studies-card {
    text-align: center;
}

.about-us .case-studies-card p {
    text-align: left;
}

.about-us .case-studies-card img {
    width: 230px;
    padding-bottom: 40px;
}

.about-us.case-studies-card .all-content-row {
    height: 470px;
}
.about-us .case-studies-card .affiliated-companies-row {
    position: relative;
    padding-top: 390px;
}

.about-us .case-studies-card .affiliated-companies-row .affiliated-companies-first-col {
    position: absolute;
    bottom: 0;
}

.about-us .case-studies-card .affiliated-companies-row .affiliated-companies-second-col {
    position: absolute;
    bottom: 0;
    right: 33%;
}

.about-us .case-studies-card .affiliated-companies-row .affiliated-companies-last-col {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 575.98px) {
    .about-us
    .jumbotron.hero h1 {
        font-size: 50px;
        text-align: left;
    }

    .about-us
    .jumbotron.hero h2 {
        text-align: left;
        font-size: 24px;
    }

    .about-us
    .jumbotron.hero img {
        position: relative;
        top: 30px;
        width: 280px;
    }

    .about-us .hero-image-container {
        text-align: left;
    }

    .about-us .case-studies-card h2 {
       text-align: left;
    }

    .about-us .case-studies-card p {
        text-align: left;
     }


    .about-us .case-studies-card .devops-case-study h2 {
        margin-top: 0;
    }

    .about-us .case-studies-card .why-image-container {
        text-align: left;
    }

    .about-us .devops-case-study img {
        left: 0;
        top: 0;
        position: relative;
        width: 300px;
        margin: 50px 0 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .about-us
    .case-studies-card {
        padding-top: 0;
    }

    .about-us
    .jumbotron.hero img {
        position: relative;
        top: 30px;
        width: 430px;
    }


    .about-us .case-studies-card .devops-case-study h2 {
        margin-top: 0;
    }

    .about-us .hero-image-container {
        text-align: right;
    }

    .about-us .devops-case-study img {
        position: relative;
        text-align: left;
        margin-bottom: 50px;
        margin-top: 100px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .about-us
    .jumbotron.hero img {
        position: relative;
        top: 30px;
    }

    .about-us .hero-image-container {
        text-align: right;
    }
    

    .about-us .devops-case-study img {
        margin-top: 80%;
        width: 120%;
    }

    .about-us
    .case-studies-card {
        padding-top: 0;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .about-us .devops-case-study img {
        margin-top: 50%;
    }

    .about-us
    .jumbotron.hero img {
        left: 0;
        top: -40px;
        width: 400px;
    }
    
}

@media (min-width: 1200px) {
    .about-us .hero-image-container {
        text-align: left;
    }

    .about-us .devops-case-study img {
        margin-top: 50%;
        width: 380px;
    }

    .about-us
    .case-studies-card {
        padding-top: 0;
    }
}