
.careers
.jumbotron.hero {
    background-image: linear-gradient(to bottom right, #FFE07F, #FFD44C);
    border-top: 3px solid #005D91;
    margin-bottom: 0;
    color: #fff;
}

.careers
.jumbotron.hero h1,
.careers
.jumbotron.hero h2 {
    text-align: right;
    color: #404040;
}

.careers
.jumbotron.hero img {
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 760px;
}

.careers .brand-promises-card h2 {
    padding-bottom: 30px;
}
.careers .case-studies-card .with-bottom-line {
    border-bottom: 2px solid #FFE07F;
    margin-left: 16.666667%;
    margin-right: 16.666667%;
    margin-bottom: 100px;
    padding-bottom: 80px;
}

.careers .case-studies-card h2 {
    text-align: center;
}

.careers .case-studies-card .col-for-careers-grid img {
    width: 311px;
    height: auto;
}

.careers .case-studies-card .main-content-col {
    padding-left: 0;
    padding-right: 0;
}

.careers .case-studies-card img {
    position: static;
}

.careers .case-studies-card .cloudops-values {
    text-align: center;
}

.careers .case-studies-card .cloudops-values img {
    width: auto;
    height: 230px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.careers .case-studies-card .cloudops-values h4 {
    margin-bottom: 8px;
}

.careers .case-studies-card .work-from-home h2 {
    text-align: left;
}

.careers .case-studies-card .col-for-careers-grid {
    overflow: hidden;
}

.careers .case-studies-card .all-content-row {
    text-align: center;
}

.careers .case-studies-card ul li {
    margin-left: 30px;
  }
  
.careers .contact-us-card ul.dashes li:before {
    content: '-';
    position: absolute;
    margin-left: -20px;
  }

.careers .social-following {
    text-align: center;
}

.careers .social-following i {
    font-size: 40px;
    color: #62B5E5;
    margin: 20px 10px 0 10px;
}

.careers .lever-integration {
    margin-right: 0;
}

.careers .lever-integration .card-deck .card {
    background-color: #FFF;
    box-shadow: 2px 2px 8px #E2E2E2;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.125);
    margin: 15px auto;
    float: none;
    text-align: center;
}

.careers .lever-integration .card-deck .card-body {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

}

.careers #lever-jobs-container {
    margin-left: auto;
    margin-right: auto;
}

.careers #lever-jobs-container .lever-department-title {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.careers #lever-jobs-container .lever-team-title {
font-family: 'Open Sans', sans-serif;
color: #404040;
font-size: 18px;
font-weight: bold;
}

.careers #lever-jobs-container .lever-job-tag {
    display: none;
}

.careers #lever-jobs-container .lever-job-title {
    display: block;
    text-decoration: none;
    color: #005D91;
    text-align: center;
}

.careers #lever-jobs-container .lever-job-title:hover {
    text-decoration: underline;
    color: #005D91;
}

.careers #lever-jobs-container li.lever-job {
    display: block;
    text-align: left;
}

.careers .brand-promises-card h2 {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 575.98px) {

    .careers
    .jumbotron.hero {
        padding-bottom: 80px;
    }

    .careers
    .jumbotron.hero h1 {
        font-size: 50px;
        text-align: left;
    }

    .careers
    .jumbotron.hero h2 {
        text-align: left;
        font-size: 24px;
    }

    .careers
    .jumbotron.hero img {
        position: relative;
        bottom: -80px;
        left: 0;
        width: 320px;
    }

    .careers .hero-image-container {
        text-align: left;
        padding-left: 0;
        width: 300px;
    }

    .careers .brand-promises-card {
        padding-left: 15px;
        padding-right: 15px;
    }

    .careers .case-studies-card .with-bottom-line {
        margin-left: 0;
        margin-right: 0;
    }

    .careers .case-studies-card .work-from-home h2 {
        text-align: center;
    }

    .careers .case-studies-card .work-from-home p {
        text-align: left;
    }

    .careers .case-studies-card .work-from-home ul li {
        text-align: left;
    }

    .careers .case-studies-card .work-from-home .gone-on-mobile img {
        display: none;
    }

    .careers .case-studies-card .work-from-home .zoom-patchwork img {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    .careers .case-studies-card .lifestyle ul li {
        text-align: left;
    }

    .careers .contact-us-card .lifestyle ul.dashes {
        margin-top: 0;
        margin-bottom: 0;
    }

    .careers .contact-us-card h2 {
        margin-left: 0;
        margin-right: 0;
    }

    .careers .case-studies-card .col-for-careers-grid {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .careers
    .jumbotron.hero img {
        position: relative;
        bottom: -80px;
        left: 0;
        width: 600px;    }

    .careers .hero-image-container {
        text-align: right;
        padding-left: 0;
    }

    .careers .case-studies-card .lifestyle {
        padding-left: 16.6666%;
        padding-right: 16.66666%;
    }

    .careers .contact-us-card ul.dashes {
        margin-top: 0;
        margin-bottom: 0;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .careers
    .jumbotron.hero img {
        position: relative;
        bottom: -80px;
        left: 0;
        width: 760px;
    }

    .careers .hero-image-container {
        margin-top: 0;
        padding: 0;
    }

    .careers .case-studies-card .lifestyle {
        padding-left: 16.6666%;
        padding-right: 16.66666%;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .careers
    .jumbotron.hero img {
        left: 0;
        bottom: -80px;
        width: 550px;
    }


    .careers .case-studies-card .lifestyle {
        padding-left: 16.6666%;
        padding-right: 16.66666%;
    }
    
}

@media (min-width: 1200px) {
    .careers .hero-image-container {
        text-align: left;
    }

    .careers .case-studies-card .lifestyle {
        padding-left: 16.6666%;
        padding-right: 16.66666%;
    }
}

.careers .open-positions-card {
    padding: 100px 0;
    background-image: url("../images/grey-organized-dots.svg"), url("../images/grey-organized-dots.svg");
    background-position: left top, right top;
    background-repeat: repeat-y, repeat-y;
    background-color: #fbfbfb;
}

.careers .open-positions-card h2 {
    text-align: center;
}

.careers .community-card .card-deck .card img {
    padding: 15px 0;
    height: 120px;
    width: auto;
}

.careers .community-card .card-deck .card > a {
    margin-top: auto;
    margin-bottom: auto;
}

.careers .community-card .card-deck .card {
    background-color: #FFF;
    box-shadow: 2px 2px 8px #E2E2E2;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    vertical-align: middle;
    float: none;
    height: 130px;
    min-width: 230px;
    max-width: 230px;
    margin: 10px 20px 10px 0;
}

.careers .featured-role {
    background-image: linear-gradient(to bottom right, #005D91, #62B5E5);  
}

.careers .featured-role h2 {
    background-color: #FFD44C;
    color: #404040;
    padding: 30px;
    text-align: center;

}

.careers .featured-role button {
    background-color: #fff;
    width: 232px;
    height: 35px;
    border-radius: 4px;
    border-color: transparent;
    color: #005D91;
    padding: 0;
    font-size: 14pt;
    box-shadow: none;
    margin: 20px 0 70px;
}

.careers .featured-role button:hover {
    background-color: #005D91;
    color: #fff;
    border: solid 1px #fff;
    transition-duration: .6s;
}

.careers .location-card {
    background-image: url(../images/blue-dots-LEFT.png),url(../images/yellow-dots-LEFT.png),url(../images/blue-dots-RIGHT.png),url(../images/yellow-dots-RIGHT.png);
    background-position: left top,left top,right top,right top;
    background-repeat: repeat-y,repeat-y,repeat-y,repeat-y;
}

.careers .community-card {
    background-color: #F2F5F7;
    background-image: url("../images/bottom-left-swoosh.png"), url("../images/top-right-swoosh.png");
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    text-align: center;
}

.careers .case-studies-card .lever-integration h2 {
    text-align: center;
}
.careers .social-media-card {
    vertical-align: middle;
}
.careers .social-media-card h2 {
    color: white;
    text-align: left;
}
.careers .social-media-card {
    color: white;
    text-align: center;
    border-top: #005d91 10px solid;
    border-bottom: #005d91 10px solid;
}
.careers .social-media-card .social-following {
    text-align: center;
}

.careers .social-following .icon {
    border-left: white solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.careers .social-following .icon:last-child {
    border-right: white solid 1px;
}

.careers .social-media-card i {
    color: white;
    text-align: center;
    font-size: 60px;
    padding: 30px 10px;
    margin: auto;
}

.careers .lifestyle {
    background-color: #fbfbfb;
    background-image: url(../images/quad-arrows.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 70px 0 100px;
}


.careers .lifestyle #benefits h2 {
    text-align: center;
    padding-bottom: 30px;
}

.careers .contact-us-card ul {
    line-height: 1.8;
}

.careers .lifestyle .row.card-body.no-gutters {
    padding: 60px;
}

.careers ul.bullets li:before {
    content: '\00B7';
    position: absolute;
    margin-left: -15px;
    margin-top: -15px;
    font-size: 40px;
    color:#005D91;
  }

.careers ul.bullets {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 30px;
        margin-right: 30px;
        text-align: left;
    }

.careers ul.bullets li {
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 14px;
  }

.careers .row.carousel-card {
    margin-left: 0;
    margin-right: 0;
}
.careers .carousel-card .carousel-inner h2 {
    padding-bottom: 0;
}
.careers .carousel-card .carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left: 0;
    background-color: white;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
}

.careers .carousel-card .carousel-indicators li div {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2px;
    background-color: #005D91;
    opacity: 0.7;
}

.careers .carousel-card .carousel-indicators li.active {
    background-color: #FFD44C;
    opacity: 1;
}

.careers .carousel-card .carousel-indicators li.active div {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2px;
    background-color: #FFD44C;
    opacity: 1;
}


.careers .carousel-card .carousel-indicators {
    left: 26px;
    right: auto;
}

.careers .carousel-card h2 {
    color: white;
    padding-bottom: 50px;
}

.careers .carousel-card p {
    color: white;
}

.careers .carousel-card {
    padding-top: 100px;
    padding-bottom: 100px;
}

.careers .table-of-contents {
    text-align: center;
}
.careers .table-of-contents .table-of-contents-col {
    -webkit-box-shadow: 0px 4px 6px 0px rgba(64,64,64,0.4); 
    box-shadow: 0px 4px 6px 0px rgba(64,64,64,0.4);
}

.careers .table-of-contents ul {
    margin: 0;
}
.careers .table-of-contents li {
    display: inline-block;
    width: 11%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: transparent solid 5px;
}

.careers .table-of-contents li:hover {
    border-bottom: #62B5E5 solid 5px;
}

.careers .table-of-contents li a:hover {
    text-decoration: none;
    color: #005D91;
}


.careers .table-of-contents li:last-child {
    background-color: #005D91;
    position: absolute;
    right: 0;
    height: 100%;
    border: #005D91 2px solid;
}

.careers .table-of-contents li:last-child a {
    color: white;
    }

.careers .table-of-contents li:last-child:hover {
    transition-duration: 0.6s;
    background-color: white;
    color: #005D91;
}

.careers .table-of-contents li:last-child:hover a {
    transition-duration: 0.6s;
    color: #005D91;}

.careers .mobile-version {
    display: none;
}

.careers .location-card img {
    width: 100%;
}

.careers .location-card .text-location {
    padding-top: 100px;
}
@media (min-width: 300px) and (max-width: 991.98px) {

.careers .desktop-version {
    display: none;
}

.careers .mobile-version {
    display: inline-block;
}

.careers .mobile-version h4.rw-sentence span {
    font-size: 115%;
}
.careers .mobile-version .after-spinner {
    margin-left: 147px;
}

.careers .mobile-version .rw-words-1 span {
    width: 145px;
}
.careers .table-of-contents li {
    display: block;
    width: 100%;
    text-align: center;
    height: 50px;
    padding-top: 20px;
}

.careers .table-of-contents li:hover {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
}

.careers .table-of-contents li:last-child {
    background-color: #005D91;
    color: white;
    position: relative;
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 20px;
}

.careers .table-of-contents li:last-child a {
    color: white;
}

}
.community-card h2 {
    padding: 0;
    margin: 0;
}

.careers .lifestyle .row.card-body.no-gutters {
    padding: 30px 15px;
}

.social-media-card {
    background-image: linear-gradient(to bottom right, #005D91, #62B5E5);
}
.life-at-cloudops-card {
    background-image: linear-gradient(to bottom right, #ffffff, #FFD44C);
}

.life-at-cloudops-card h2 {
    margin-top: 100px;
    color: white;
    font-size: 150%;
}

.carousel-card {
    background-image: linear-gradient(to bottom right, #005D91, #62B5E5);

}
.after-spinner {
    margin-left: 210px;
}

.careers .case-studies-card .cloudops-evp {
    text-align: center;
}

.careers .case-studies-card .cloudops-evp img{
    width: 80%;
    margin-top: 70px;
    margin-bottom: 70px;
}
 
.rw-wrapper {
	width: 100%;
	position: relative;
	margin: 0 auto 0 auto;
	padding: 0;
    text-align: center;
}

.rw-wrapper p {
    font-size: 22px;
    margin-bottom: 30px;
}

.rw-sentence {
	margin: 0;
	text-align: center;
}
.rw-sentence span {
	color: #404040;
    font-size: 150%;
	font-weight: normal;

}
.rw-words {
	display: inline;
}


.rw-words-1 span {
    font-weight: bold;
	position: absolute;
	opacity: 0;
	color: #005D91;
	-webkit-animation: rotateWord 15s cubic-bezier(.90,.05,.78,.95) infinite 0s;
	-ms-animation: rotateWord 15s cubic-bezier(.90,.05,.78,.95) infinite 0s;
	animation: rotateWord 15s cubic-bezier(.90,.05,.78,.95) infinite 0s;
    margin-left: auto;
    margin-right: auto;
    width:200px;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 2.5s; 
	-ms-animation-delay: 2.5s; 
	animation-delay: 2.5s; 
	color: #005D91;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 5s; 
	-ms-animation-delay: 5s; 
	animation-delay: 5s; 
	color: #005D91;	
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 7.5s; 
	-ms-animation-delay: 7.5s; 
	animation-delay: 7.5s; 
	color: #005D91;
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 10s; 
	-ms-animation-delay: 10s; 
	animation-delay: 10s; 
	color: #005D91;
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 12.5s; 
	-ms-animation-delay: 12.5s; 
	animation-delay: 12.5s; 
	color: #005D91;
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    8% { opacity: 0; -webkit-transform: translateY(-20px); }
	10% { opacity: 0.5; -webkit-transform: translateY(0px);}
    12% { opacity: 1; -webkit-transform: translateY(0px); }
	14% { opacity: 0; -webkit-transform: translateY(20px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    8% { opacity: 0; -ms-transform: translateY(-20px); }
	10% { opacity: 0.5; -ms-transform: translateY(0px);}
    12% { opacity: 1; -ms-transform: translateY(0px); }
	14% { opacity: 0; -ms-transform: translateY(20px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    8% { opacity: 0; -webkit-transform: translateY(-20px); transform: translateY(-20px); }
	10% { opacity: 0.5; -webkit-transform: translateY(0px); transform: translateY(0px);}
    12% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	14% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}


@media (max-width: 575.98px) {
    .careers .case-studies-card .cloudops-evp img {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    .careers .row.cloudops-evp.no-gutters .col-xs-6 {
    width: 50%;
}
    .careers .location-card {
    text-align: center;
    }

    .careers .carousel-card .quote-img {
    width: 0 !important;
    height: 0 !important;
    }

    .careers .carousel-card .carousel-inner .carousel-item h2 {
        padding-top: 0;
    }

    .careers .carousel-card .carousel-inner .carousel-item h2::before {
        content: "\201F";
        padding-right: 6px;
        color: #FFD44C;
    }


    .careers .social-media-card i {
        font-size: 40px;
        padding: 8px;                                              
        border-right: none;
    }

    .careers .lifestyle {
    background-color: #fbfbfb;
    background-image: none;
    text-align: center;
    padding: 70px 10px 10px;
}

.careers .life-at-cloudops-card .carousel-inner.photos {
    height: 500px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 0;
}

.careers .life-at-cloudops-card .carousel {
    height: 600px;
    z-index: 1;
}

.life-at-cloudops-card p.pinboard-text-1 {
    color: white;
    font-size: 90%;
    width: 160px;
    position: absolute;
    top: 180px;
    left: 20px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 15px solid #009187;
    padding: 5px 10px 10px;
    box-shadow: none;
    transform: rotate(-6deg);
    z-index: 1000;
}

.life-at-cloudops-card p.pinboard-text-1::before {
    content: "";
    width: 70px;
    height: 20px;
    background-color: #62B5E5;
    transform: rotate(-60deg);
    position: absolute;
    top: -20px;
    left: -25px;
}

.life-at-cloudops-card p.pinboard-text-1::after {
    content: "";
    width: 60px;
    height: 20px;
    background-color: #62B5E5;
    transform: rotate(-45deg);
    position: absolute;
    top: 108px;
    left: 115px;
}

.careers .life-at-cloudops-card .framed-image.image-1-carousel {
    border: 7px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 160px;
    position: absolute;
    left: 120px;
    top: 90px;
    z-index: 500;
}

.careers .life-at-cloudops-card .framed-image.image-2-carousel {
    border: 7px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(0.25deg);
    margin: 30px;
    width: 200px;
    position: absolute;
    left: 0;
    top: -15px;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-3-carousel {
    border: 7px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(0.3deg);
    margin: 30px;
    width: 190px;
    position: absolute;
    left: 70px;
    top: 270px;
    z-index: 800;
}

.careers .life-at-cloudops-card .framed-image.image-4-carousel {
    display: none;
}

.life-at-cloudops-card p.pinboard-text-2 {
    color: white;
    font-size: 80%;
    width: 160px;
    position: absolute;
    top: 30px;
    left: 155px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 15px solid #009187;
    padding: 5px 10px 10px;
    box-shadow: none;
    transform: rotate(2deg);
    z-index: 1000;
}

.life-at-cloudops-card p.pinboard-text-2::before {
    content: "";
    width: 60px;
    height: 20px;
    background-color: #62B5E5;
    transform: rotate(-24deg);
    position: absolute;
    top: -25px;
    left: -15px;
}

.life-at-cloudops-card p.pinboard-text-2::after {
    content: "";
    width: 40px;
    height: 20px;
    background-color: #62B5E5;
    transform: rotate(-27deg);
    position: absolute;
    top: 116px;
    left: 122px;

}

.careers .life-at-cloudops-card .framed-image.image-5-carousel {
    border: 7px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 150px;
    position: absolute;
    left: -18px;
    top: -18px;
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-6-carousel {
    border: 7px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(0.25deg);
    margin: 30px;
    width: 255px;
    position: absolute;
    left: 10px;
    top: 258px;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-7-carousel {
    border: 7px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-4.4deg);
    margin: 30px;
    width: 160px;
    position: absolute;
    left: 80px;
    top: 139px;
    z-index: 800;
}

.careers .life-at-cloudops-card .framed-image.image-8-carousel {
    display: none;
}

.life-at-cloudops-card p.pinboard-text-3::before {
    content: "";
    width: 60px;
    height: 20px;
    background-color: #62B5E5;
    transform: rotate(-25deg);
    position: absolute;
    top: -20px;
    left: -15px;
}

.life-at-cloudops-card p.pinboard-text-3::after {
    content: "";
    width: 50px;
    height: 20px;
    background-color: #62B5E5;
    transform: rotate(-35deg);
    position: absolute;
    top: 110px;
    left: 125px;

}

.life-at-cloudops-card p.pinboard-text-3 {
    color: white;
    font-size: 90%;
    width: 160px;
    position: absolute;
    top: 20px;
    left: 20px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 10px solid #009187;
    padding: 5px 10px 10px;
    box-shadow: none;
    transform: rotate(-1.5deg);
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-9-carousel {
    border: 7px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 180px;
    position: absolute;
    left: -18px;
    top: 185px;
    z-index: 800;
}

.careers .life-at-cloudops-card .framed-image.image-10-carousel {
    border: 7px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-2.75deg);
    margin: 30px;
    width: 170px;
    position: absolute;
    left: 100px;
    top: 80px;
    z-index: 1000;
}

.careers .life-at-cloudops-card .framed-image.image-11-carousel {
    border: 7px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 210px;
    position: absolute;
    left: 70px;
    top: 300px;
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-12-carousel {
    display: none;
}

.careers .location-card img {
    width: 50%;
}

.careers .location-card .text-location {
    padding-top: 50px;
    padding-bottom: 0;
}

.careers .featured-role .featured-role-text {
    text-align: center;
    padding: 30px 15px 0;
}

.careers .featured-role .featured-role-content {
    text-align: center;
}

.careers .featured-role img {
    display: none;
}

.careers .social-media-card h2 {
    text-align: center;
    padding: 30px;
}

.careers .social-following .icon {
    width: 33.333%;
    border: none;
}

.careers .social-following .icon:last-child {
    border: none;
}

.careers .social-media-card .social-following {
    padding-bottom: 30px;
}
.careers .location-card {
    text-align: center;
    background-image: url(../images/blue-dots-RIGHT.png),url(../images/yellow-dots-RIGHT.png);
    background-position: right top,right top;
    background-repeat: repeat-y,repeat-y;
}

.careers .location-card .text-location {
    padding: 50px 15px 0;
}

.careers .open-positions-card {
    padding: 100px 15px 0;
    background-image: none;
    background-color: #fbfbfb;
    text-align: center;
}

.careers .community-card {
    margin: 0;
}

.careers .community-card p {
    text-align: center;
}

.careers .community-card .community-text {
    padding-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 15px;
}

}

@media (min-width: 576px) and (max-width: 767.98px) {

.careers .carousel-card .carousel-inner .carousel-item h2 {
    padding-top: 115px;
    font-size: 175%;
}

.careers .case-studies-card .cloudops-evp img {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    }

.careers .location-card {
    text-align: center;
    background-image: url(../images/blue-dots-RIGHT.png),url(../images/yellow-dots-RIGHT.png);
    background-position: right top,right top;
    background-repeat: repeat-y,repeat-y;
}

.careers .life-at-cloudops-card .carousel-inner.photos {
    height: 500px;
    width: 576px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 0;
}

.careers .life-at-cloudops-card .carousel {
    height: 600px;
    z-index: 1;
}

.life-at-cloudops-card p.pinboard-text-1 {
    color: white;
    font-size: 100%;
    width: 200px;
    position: absolute;
    top: 260px;
    left: 40px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 30px solid #009187;
    padding: 5px 20px 20px;
    box-shadow: none;
    transform: rotate(-6deg);
    z-index: 1000;
}

.life-at-cloudops-card p.pinboard-text-1::before {
    content: "";
    width: 100px;
    height: 25px;
    background-color: #62B5E5;
    transform: rotate(-40deg);
    position: absolute;
    top: -30px;
    left: -35px;
}

.life-at-cloudops-card p.pinboard-text-1::after {
    content: "";
    width: 90px;
    height: 25px;
    background-color: #62B5E5;
    transform: rotate(-45deg);
    position: absolute;
    top: 113px;
    left: 130px;

}

.careers .life-at-cloudops-card .framed-image.image-1-carousel {
    border: 10px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 200px;
    position: absolute;
    left: 340px;
    top: 10px;
    z-index: 500;
}

.careers .life-at-cloudops-card .framed-image.image-2-carousel {
    border: 10px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(0.25deg);
    margin: 30px;
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-3-carousel {
    border: 10px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(0.3deg);
    margin: 30px;
    width: 220px;
    position: absolute;
    left: 200px;
    top: 240px;
    z-index: 800;
}

.careers .life-at-cloudops-card .framed-image.image-4-carousel {
    display: none;
}

.life-at-cloudops-card p.pinboard-text-2 {
    color: white;
    font-size: 100%;
    width: 220px;
    position: absolute;
    top: 30px;
    left: 330px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 30px solid #009187;
    padding: 5px 20px 20px;
    box-shadow: none;
    transform: rotate(2deg);
    z-index: 1000;
}

.life-at-cloudops-card p.pinboard-text-2::before {
    content: "";
    width: 100px;
    height: 25px;
    background-color: #62B5E5;
    transform: rotate(-24deg);
    position: absolute;
    top: -30px;
    left: -20px;
}

.life-at-cloudops-card p.pinboard-text-2::after {
    content: "";
    width: 100px;
    height: 25px;
    background-color: #62B5E5;
    transform: rotate(-27deg);
    position: absolute;
    top: 146px;
    left: 148px;

}

.careers .life-at-cloudops-card .framed-image.image-5-carousel {
    border: 10px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 180px;
    position: absolute;
    left: -18px;
    top: 150px;
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-6-carousel {
    border: 10px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(0.25deg);
    margin: 30px;
    width: 310px;
    position: absolute;
    left: 170px;
    top: 180px;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-7-carousel {
    border: 10px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-4.4deg);
    margin: 30px;
    width: 200px;
    position: absolute;
    left: 100px;
    top: 0;
    z-index: 800;
}

.careers .life-at-cloudops-card .framed-image.image-8-carousel {
    display: none;
}

.life-at-cloudops-card p.pinboard-text-3::before {
    content: "";
    width: 100px;
    height: 25px;
    background-color: #62B5E5;
    transform: rotate(-25deg);
    position: absolute;
    top: -30px;
    left: -25px;
}

.life-at-cloudops-card p.pinboard-text-3::after {
    content: "";
    width: 80px;
    height: 25px;
    background-color: #62B5E5;
    transform: rotate(-35deg);
    position: absolute;
    top: 130px;
    left: 145px;

}

.life-at-cloudops-card p.pinboard-text-3 {
    color: white;
    font-size: 100%;
    width: 200px;
    position: absolute;
    top: 30px;
    left: 30px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 30px solid #009187;
    padding: 5px 20px 20px;
    box-shadow: none;
    transform: rotate(-1.5deg);
    z-index: 1000;
}

.careers .life-at-cloudops-card .framed-image.image-9-carousel {
    border: 10px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 260px;
    position: absolute;
    left: 260px;
    top: 10px;
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-10-carousel {
    border: 10px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-2.75deg);
    margin: 30px;
    width: 300px;
    position: absolute;
    left: -18px;
    top: 170px;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-11-carousel {
    border: 10px solid #fff;
    box-shadow: 0 0 5px 2px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 280px;
    position: absolute;
    left: 260px;
    top: 220px;
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-12-carousel {
    display: none;
}


.careers .location-card img {
    width: 50%;
}

.careers .location-card .text-location {
    padding-bottom: 50px;
    padding-top: 0;
}

.careers .social-media-card h2 {
    text-align: center;
    padding: 30px;
}

.careers .community-card p {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

}

.careers .community-card .community-text {
    padding: 15px 0;
    margin-top: auto;
    margin-bottom: auto;
}

}

@media (min-width: 768px) and (max-width: 991.98px) {

.careers .carousel-card .carousel-inner .carousel-item h2 {
    padding-top: 115px;
    font-size: 175%;
}
    .careers .case-studies-card .cloudops-evp img {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    .careers .life-at-cloudops-card .carousel-inner.photos {
        height: 600px;
        width: 768px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        margin-bottom: 0;
    }
    
    .careers .life-at-cloudops-card .carousel {
        height: 700px;
        z-index: 1;
    }
    
    .life-at-cloudops-card p.pinboard-text-1 {
        color: white;
        font-size: 120%;
        width: 260px;
        position: absolute;
        top: 340px;
        left: 40px;
        line-height: 1.2;
        background-color: #47B7AF;
        border-top: 30px solid #009187;
        padding: 30px;
        box-shadow: none;
        transform: rotate(-6deg);
        z-index: 1000;
    }
    
    .life-at-cloudops-card p.pinboard-text-1::before {
        content: "";
        width: 140px;
        height: 30px;
        background-color: #62B5E5;
        transform: rotate(-40deg);
        position: absolute;
        top: -30px;
        left: -35px;
    }
    
    .life-at-cloudops-card p.pinboard-text-1::after {
        content: "";
        width: 120px;
        height: 30px;
        background-color: #62B5E5;
        transform: rotate(-45deg);
        position: absolute;
        top: 145px;
        left: 180px;
    
    }
    
    .careers .life-at-cloudops-card .framed-image.image-1-carousel {
        border: 15px solid #fff;
        box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
        transform: rotate(-0.4deg);
        margin: 30px;
        width: 290px;
        position: absolute;
        left: 430px;
        top: 10px;
        z-index: 500;
    }
    
    .careers .life-at-cloudops-card .framed-image.image-2-carousel {
        border: 15px solid #fff;
        box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
        transform: rotate(0.25deg);
        margin: 30px;
        width: 400px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 200;
    }
    
    .careers .life-at-cloudops-card .framed-image.image-3-carousel {
        border: 15px solid #fff;
        box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
        transform: rotate(0.3deg);
        margin: 30px;
        width: 280px;
        position: absolute;
        left: 300px;
        top: 275px;
        z-index: 800;
    }
    
    .careers .life-at-cloudops-card .framed-image.image-4-carousel {
        display: none;
    }
    
    .life-at-cloudops-card p.pinboard-text-2 {
        color: white;
        font-size: 110%;
        width: 260px;
        position: absolute;
        top: 30px;
        left: 500px;
        line-height: 1.2;
        background-color: #47B7AF;
        border-top: 30px solid #009187;
        padding: 15px 30px 30px;
        box-shadow: none;
        transform: rotate(2deg);
        z-index: 1000;
    }
    
    .life-at-cloudops-card p.pinboard-text-2::before {
        content: "";
        width: 140px;
        height: 30px;
        background-color: #62B5E5;
        transform: rotate(-24deg);
        position: absolute;
        top: -30px;
        left: -40px;
    }
    
    .life-at-cloudops-card p.pinboard-text-2::after {
        content: "";
        width: 190px;
        height: 30px;
        background-color: #62B5E5;
        transform: rotate(-27deg);
        position: absolute;
        top: 200px;
        left: 148px;
    
    }
    
    .careers .life-at-cloudops-card .framed-image.image-5-carousel {
        border: 15px solid #fff;
        box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
        transform: rotate(-0.4deg);
        margin: 30px;
        width: 270px;
        position: absolute;
        left: -20px;
        top: 0;
        z-index: 100;
    }
    
    .careers .life-at-cloudops-card .framed-image.image-6-carousel {
        border: 15px solid #fff;
        box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
        transform: rotate(0.25deg);
        margin: 30px;
        width: 400px;
        position: absolute;
        left: 300px;
        top: 232px;
        z-index: 200;
    }
    
    .careers .life-at-cloudops-card .framed-image.image-7-carousel {
        border: 15px solid #fff;
        box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
        transform: rotate(-4.4deg);
        margin: 30px;
        width: 280px;
        position: absolute;
        left: 195px;
        top: 90px;
        z-index: 800;
    }
    
    .careers .life-at-cloudops-card .framed-image.image-8-carousel {
        display: none;
    }
    
    .life-at-cloudops-card p.pinboard-text-3::before {
        content: "";
        width: 140px;
        height: 30px;
        background-color: #62B5E5;
        transform: rotate(-18deg);
        position: absolute;
        top: -30px;
        left: -35px;
    }
    
    .life-at-cloudops-card p.pinboard-text-3::after {
        content: "";
        width: 140px;
        height: 30px;
        background-color: #62B5E5;
        transform: rotate(-27deg);
        position: absolute;
        top: 170px;
        left: 150px;
    
    }
    
    .life-at-cloudops-card p.pinboard-text-3 {
        color: white;
        font-size: 130%;
        width: 260px;
        position: absolute;
        top: 19px;
        left: 56px;
        line-height: 1.2;
        background-color: #47B7AF;
        border-top: 30px solid #009187;
        padding: 15px 30px 30px;
        box-shadow: none;
        transform: rotate(-1.5deg);
        z-index: 1000;
    }
    
    .careers .life-at-cloudops-card .framed-image.image-9-carousel {
        border: 15px solid #fff;
        box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
        transform: rotate(-0.4deg);
        margin: 30px;
        width: 360px;
        position: absolute;
        left: 300px;
        top: 10px;
        z-index: 100;
    }
    
    .careers .life-at-cloudops-card .framed-image.image-10-carousel {
        border: 15px solid #fff;
        box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
        transform: rotate(-2.75deg);
        margin: 30px;
        width: 380px;
        position: absolute;
        left: 0;
        top: 260px;
        z-index: 200;
    }
    
    .careers .life-at-cloudops-card .framed-image.image-11-carousel {
        border: 15px solid #fff;
        box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
        transform: rotate(-0.4deg);
        margin: 30px;
        width: 340px;
        position: absolute;
        left: 380px;
        top: 300px;
        z-index: 100;
    }
    
    .careers .life-at-cloudops-card .framed-image.image-12-carousel {
        display: none;
    }

.careers .location-card .text-location {
    padding-top: 0;
}

.careers .social-media-card h2 {
    text-align: center;
    padding: 30px;
}

.careers .community-card p {
    text-align: left;
}

.careers .community-card .community-text {
    padding-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

}

@media (min-width: 992px) and (max-width: 1199.98px) {

.careers .carousel-card .carousel-inner .carousel-item h2 {
    padding-top: 115px;
    font-size: 175%;
}

    .careers .case-studies-card .cloudops-evp img {
    width: 98%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.careers .life-at-cloudops-card .carousel-inner.photos {
    height: 600px;
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 0;
}

.careers .life-at-cloudops-card .carousel {
    height: 700px;
    z-index: 1;
}

.life-at-cloudops-card p.pinboard-text-1 {
    color: white;
    font-size: 130%;
    width: 300px;
    position: absolute;
    top: 340px;
    left: 40px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 30px solid #009187;
    padding: 30px;
    box-shadow: none;
    transform: rotate(-6deg);
    z-index: 1000;
}

.life-at-cloudops-card p.pinboard-text-1::before {
    content: "";
    width: 140px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-40deg);
    position: absolute;
    top: -30px;
    left: -35px;
}

.life-at-cloudops-card p.pinboard-text-1::after {
    content: "";
    width: 120px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-45deg);
    position: absolute;
    top: 160px;
    left: 220px;

}

.careers .life-at-cloudops-card .framed-image.image-1-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 300px;
    position: absolute;
    left: 630px;
    top: 10px;
    z-index: 500;
}

.careers .life-at-cloudops-card .framed-image.image-2-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(0.25deg);
    margin: 30px;
    width: 400px;
    position: absolute;
    left: 150px;
    top: 0;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-3-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(0.3deg);
    margin: 30px;
    width: 300px;
    position: absolute;
    left: 360px;
    top: 230px;
    z-index: 800;
}

.careers .life-at-cloudops-card .framed-image.image-4-carousel {
    display: none;
}

.life-at-cloudops-card p.pinboard-text-2 {
    color: white;
    font-size: 130%;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 660px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 30px solid #009187;
    padding: 15px 30px 30px;
    box-shadow: none;
    transform: rotate(2deg);
    z-index: 1000;
}

.life-at-cloudops-card p.pinboard-text-2::before {
    content: "";
    width: 140px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-24deg);
    position: absolute;
    top: -30px;
    left: -40px;
}

.life-at-cloudops-card p.pinboard-text-2::after {
    content: "";
    width: 190px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-27deg);
    position: absolute;
    top: 200px;
    left: 148px;

}

.careers .life-at-cloudops-card .framed-image.image-5-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 290px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-6-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(0.25deg);
    margin: 30px;
    width: 400px;
    position: absolute;
    left: 240px;
    top: 150px;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-7-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-4.4deg);
    margin: 30px;
    width: 280px;
    position: absolute;
    left: 600px;
    top: 275px;
    z-index: 800;
}

.careers .life-at-cloudops-card .framed-image.image-8-carousel {
    display: none;
}

.life-at-cloudops-card p.pinboard-text-3::before {
    content: "";
    width: 140px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-18deg);
    position: absolute;
    top: -30px;
    left: -35px;
}

.life-at-cloudops-card p.pinboard-text-3::after {
    content: "";
    width: 170px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-27deg);
    position: absolute;
    top: 200px;
    left: 150px;

}

.life-at-cloudops-card p.pinboard-text-3 {
    color: white;
    font-size: 150%;
    width: 300px;
    position: absolute;
    top: 19px;
    left: 56px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 30px solid #009187;
    padding: 15px 30px 30px;
    box-shadow: none;
    transform: rotate(-1.5deg);
    z-index: 1000;
}

.careers .life-at-cloudops-card .framed-image.image-9-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 400px;
    position: absolute;
    left: 400px;
    top: 10px;
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-10-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-2.75deg);
    margin: 30px;
    width: 400px;
    position: absolute;
    left: 50px;
    top: 260px;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-11-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 330px;
    position: absolute;
    left: 500px;
    top: 300px;
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-12-carousel {
    display: none;
}

.careers .community-card p {
    text-align: left;
}

.careers .community-card .community-text {
    padding-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

}

@media (min-width: 1200px) {

.careers .carousel-card {
    height: 770px;
}

.careers .carousel-card .carousel-inner .carousel-item h2 {
    padding-top: 115px;
    font-size: 175%;
}

    .careers .case-studies-card .cloudops-evp img {
    width: 90%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.careers .community-card p {
    text-align: left;
}

.careers .community-card .community-text {
    padding-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}


.careers .life-at-cloudops-card .carousel-inner.photos {
    height: 800px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 0;
}

.careers .life-at-cloudops-card .carousel {
    height: 900px;
    z-index: 1;
}


.life-at-cloudops-card p.pinboard-text-1 {
    color: white;
    font-size: 150%;
    width: 300px;
    position: absolute;
    top: 440px;
    left: 40px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 30px solid #009187;
    padding: 30px;
    box-shadow: none;
    transform: rotate(-6deg);
    z-index: 1000;
}

.life-at-cloudops-card p.pinboard-text-1::before {
    content: "";
    width: 140px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-40deg);
    position: absolute;
    top: -30px;
    left: -35px;
}

.life-at-cloudops-card p.pinboard-text-1::after {
    content: "";
    width: 120px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-45deg);
    position: absolute;
    top: 200px;
    left: 220px;

}

.careers .life-at-cloudops-card .framed-image.image-1-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 360px;
    position: absolute;
    left: 765px;
    top: 60px;
    z-index: 500;
}

.careers .life-at-cloudops-card .framed-image.image-2-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(0.25deg);
    margin: 30px;
    width: 450px;
    position: absolute;
    left: -18px;
    top: 0;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-3-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(0.3deg);
    margin: 30px;
    width: 340px;
    position: absolute;
    left: 330px;
    top: 425px;
    z-index: 800;
}

.careers .life-at-cloudops-card .framed-image.image-4-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(2deg);
    margin: 30px;
    width: 400px;
    position: absolute;
    left: 400px;
    top: 170px;
    z-index: 600;
}

.life-at-cloudops-card p.pinboard-text-2 {
    color: white;
    font-size: 150%;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 880px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 30px solid #009187;
    padding: 15px 30px 30px;
    box-shadow: none;
    transform: rotate(2deg);
    z-index: 1000;
}

.life-at-cloudops-card p.pinboard-text-2::before {
    content: "";
    width: 140px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-24deg);
    position: absolute;
    top: -30px;
    left: -40px;
}

.life-at-cloudops-card p.pinboard-text-2::after {
    content: "";
    width: 190px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-27deg);
    position: absolute;
    top: 300px;
    left: 150px;

}

.careers .life-at-cloudops-card .framed-image.image-5-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 400px;
    position: absolute;
    left: 500px;
    top: 80px;
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-6-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(0.25deg);
    margin: 30px;
    width: 480px;
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-7-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-4.4deg);
    margin: 30px;
    width: 355px;
    position: absolute;
    left: 128px;
    top: 398px;
    z-index: 800;
}

.careers .life-at-cloudops-card .framed-image.image-8-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(2deg);
    margin: 30px;
    width: 400px;
    position: absolute;
    left: 760px;
    top: 450px;
    z-index: 600;
}

.life-at-cloudops-card p.pinboard-text-3::before {
    content: "";
    width: 140px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-18deg);
    position: absolute;
    top: -30px;
    left: -35px;
}

.life-at-cloudops-card p.pinboard-text-3::after {
    content: "";
    width: 170px;
    height: 30px;
    background-color: #62B5E5;
    transform: rotate(-27deg);
    position: absolute;
    top: 200px;
    left: 150px;

}

.life-at-cloudops-card p.pinboard-text-3 {
    color: white;
    font-size: 150%;
    width: 300px;
    position: absolute;
    top: 19px;
    left: 56px;
    line-height: 1.2;
    background-color: #47B7AF;
    border-top: 30px solid #009187;
    padding: 15px 30px 30px;
    box-shadow: none;
    transform: rotate(-1.5deg);
    z-index: 1000;
}

.careers .life-at-cloudops-card .framed-image.image-9-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 410px;
    position: absolute;
    left: 340px;
    top: 0;
    z-index: 400;
}

.careers .life-at-cloudops-card .framed-image.image-10-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-2.75deg);
    margin: 30px;
    width: 480px;
    position: absolute;
    left: 50px;
    top: 260px;
    z-index: 200;
}

.careers .life-at-cloudops-card .framed-image.image-11-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(-0.4deg);
    margin: 30px;
    width: 400px;
    position: absolute;
    left: 500px;
    top: 450px;
    z-index: 100;
}

.careers .life-at-cloudops-card .framed-image.image-12-carousel {
    border: 15px solid #fff;
    box-shadow: 0 0 10px 3px rgba(65,65,65,.3);
    transform: rotate(2deg);
    margin: 30px;
    width: 400px;
    position: absolute;
    left: 715px;
    top: 190px;
    z-index: 1;
}
}
