/************
Style Guide: 

    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;

    black: #404040;
    white: #FFF
    cloudops blue: #62B5E5
    dark blue: #005D91;
    light grey: #FBFBFB;
    yellow: #FFE07F;

@media (max-width: 575.98px) {
    
}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}




***************/


/************  To avoid horizontal scrolling  ***************/

div.container-fluid.main-content {
    padding: 0;
}

div.row {
    max-width: 100%;
}




/************  General Styles  ***************/



body h1 {
color: #FFF;
font-family: 'Montserrat', sans-serif;
font-size: 75px;
padding: 50px 0;
}

body h2 {

    font-family: 'Montserrat', sans-serif;
    color: #005D91;
    font-size: 26px;
    line-height: 1.2;
}

body h3 {
    font-family: 'Open Sans', sans-serif;
    color: #005D91;
    font-size: 16px;
    font-weight: bold;
}

body h4 {
    font-family: 'Open Sans', sans-serif;
    color: #005D91;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

body h5 {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    font-size: 16px;
    margin-bottom: 0;
}

body h6 {
    color: orange;
}

body p {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    font-size: 16px;
    line-height: 1.4;
}

.card .corner-triangle {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.corner-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #62B5E5 transparent;
}
.card:hover {
    cursor: pointer;
}

.card:hover .corner-triangle {
    position: absolute;
    bottom: 7px;
    right: 7px;
    transition-duration: 0.4; 
 }

a:link {
    font-family: 'Open Sans';
    color: #005D91;
    font-size: 18px;
    margin: 0 auto;
}

@import '/navbar.scss';
@import '/homepage.scss';
@import '/footer.scss';
@import '/workshops.scss';
@import '/solutions.scss';
@import '/meet-cloudops.scss'