/************
Style Guide: 

    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;

    black: #404040;
    white: #FFF
    cloudops blue: #62B5E5;
    dark blue: #005D91;
    light grey: #FBFBFB;
    yellow: #FFE07F;

@media (max-width: 575.98px) {
    
}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}




***************/
/************  To avoid horizontal scrolling  ***************/

div.container-fluid.main-content {
    padding: 0;
}

div.row {
    max-width: 100%;
}




/************  General Styles  ***************/


body h1 {
color: #FFF;
font-family: 'Montserrat', sans-serif;
font-size: 75px;
padding: 50px 0;
}

body h2 {

    font-family: 'Montserrat', sans-serif;
    color: #005D91;
    font-size: 26px;
    line-height: 1.2;
}

body h3 {
    font-family: 'Open Sans', sans-serif;
    color: #005D91;
    font-size: 18px;
    font-weight: bold;
}

body h4 {
    font-family: 'Open Sans', sans-serif;
    color: #005D91;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

body h5 {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    font-size: 18px;
    margin-bottom: 0;
}

body h6 {
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}

body p {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    font-size: 18px;
    line-height: 1.4;
}

.card .corner-triangle {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.corner-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #62B5E5 transparent;
}
.card:hover {
    cursor: pointer;
}

.card:hover .corner-triangle {
    position: absolute;
    bottom: 7px;
    right: 7px;
    transition-duration: 0.4; 
 }

a:link {
    font-family: 'Open Sans';
    color: #005D91;
    font-size: 18px;
    margin: 0 auto;
}

a:visited {
    font-family: 'Open Sans';
    color: #005D91;
    font-size: 18px;
    margin: 0 auto;
}

ul {
    padding-left: 0;
    list-style: none;
}
ul li {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    font-size: 18px;
    line-height: 1.4;
}

@import '/navbar.scss';
@import '/homepage.scss';
@import '/footer.scss';
@import '/workshops.scss';
@import '/solutions.scss';
@import '/meet-cloudops.scss';
@import '/experts.scss';
@import '/using-cloud.scss';
@import '/individual-workshops.scss';
@import '/partners.scss';
@import '/why-cloudops.scss';
@import '/blog.scss';
@import '/contact-us.scss';
@import '/delivering-cloud.scss';
@import '/delivering-cloud-consulting.scss';
@import '/cloud-migration.scss';
@import '/cloud-native-consulting.scss';
@import '/blog-main.scss';
@import '/careers.scss';
@import '/managed-services.scss';
@import '/transformations.scss';
@import '/workshops-calendar.scss';
@import '/landing-page.scss';
@import '/privacy-policy.scss';



.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin: 50px auto;
  }
  .iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.general-stylings-more-content {
    .card > a {
        margin: 0;
    }
}


.general-stylings-more-content .cta-cards .card-deck .card {
    background-color: #FFF;
    box-shadow: 2px 2px 8px #E2E2E2;
    border-radius: 0;
    min-width: 220px;
    margin-bottom: 30px;
    text-align: left;
}

.general-stylings-more-content .cta-cards .card-deck .card:hover {
    box-shadow: inset 0px 0px 10px rgba(169, 175, 179, 0.2);
}

.general-stylings-more-content.contact-us-card {
    background-image: url("/images/bottom-left-yellow-swoosh.png"), url("/images/top-right-yellow-swoosh.svg"), url("/images/tinydots-horizontal.svg");
    background-position: left bottom, right top, left bottom 20%;
    background-repeat: no-repeat, no-repeat , repeat-x;
    padding: 100px 0;
    text-align: center;
}

.general-stylings-more-content.contact-us-card img {
    margin: 0 0 30px -50%;
}

.general-stylings-more-content.contact-us-card h2 {
    padding-right: 40px 0 0 40px;
    text-align: left;
}

.general-stylings-more-content.contact-us-card a:hover {
    text-decoration: none;
}


@media (max-width: 575.98px) {
    .general-stylings-more-content.contact-us-card {
        padding-left: 30px;
    }

    .general-stylings-more-content.contact-us-card h2 {
       padding-bottom: 30px;
   }  

   .general-stylings-more-content.contact-us-card p {
    padding-top: 0;
    margin-left: 0;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    .general-stylings-more-content .cta-cards .card-deck {
        padding-left: 30px;
    }

    .general-stylings-more-content .cta-cards .card-deck .card {
        min-width: 270px;
    }

    .general-stylings-more-content .contact-us-card p {
        padding-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .general-stylings-more-content .contact-us-card .contact-us-intro {
        padding-bottom: 50px;
    }
    
    .general-stylings-more-content .cta-cards .card-deck .card {
        min-width: 270px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .general-stylings-more-content.contact-us-card h2 {
        padding: 40px 0 0 40px;
    }

    .general-stylings-more-content.contact-us-card .contact-us-intro {
        padding-bottom: 50px;
    }
    
    .general-stylings-more-content .cta-cards .card-deck .card {
        min-width: 260px;
    }
}

@media (min-width: 1200px) {
    .general-stylings-more-content .contact-us-card h2 {
        padding: 40px 0 0 40px;
     }
 
     .general-stylings-more-content .cta-cards .card-deck .card {
         min-width: 260px;
     }
}



.secondary-nav.nav-tabs {
    background-color: #005D91;
    color: #FFF;
    margin-bottom: 0;
    border-bottom: 1px solid #005D91;
    padding-left: 16.6666%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;

}

.secondary-nav.nav-tabs .nav-link {
    background-color: #005D91;
    color: #FFF;
    border: none;
    font-weight: normal;
    text-decoration: none;
}

.secondary-nav.nav-tabs .nav-link.active {
    background-color: #005D91;
    color: #FFF;
    border: none;
    font-weight: bold;
    text-decoration: none;
}

.secondary-nav.nav-tabs .nav-link:hover {
    text-decoration: underline;
}