.using-cloud
.jumbotron.hero {
    background-image: linear-gradient(to bottom right, #62B5E5, #005D91);
    border-top: 3px solid #005D91;
    margin-bottom: 0;
    color: #fff;
}

.using-cloud
.jumbotron.hero h1,
.using-cloud
.jumbotron.hero h2 {
    text-align: left;
}

.using-cloud
.jumbotron.hero img {
    position: absolute;
    top: -140px;
}

.using-cloud
.brand-promises-card {
    padding: 100px 0;
    background-color: #FBFBFB;
    background-image: url("../images/bottom-left-yellow-swoosh.png"), url("../images/top-right-yellow-swoosh.svg"), url("../images/dotted-triangles-yellow.svg"), url("../images/dotted-triangles-yellow.svg");
    background-position: left bottom, right top, left center, right center;
    background-repeat: no-repeat, no-repeat, repeat-y, repeat-y;
}

.using-cloud .brand-promises-card h5 {
    color: #005D91;
    font-size: 28px;
    line-height: 1.8;
    font-weight: 400;
}

.using-cloud button {
    background-color:#005D91;
    width: 230px;
    height: 35px;
    border-radius: 4px;
    box-shadow: none;
    color: #FFF;
    padding: 0 10px;
    font-family: 'Open Sans';
    font-size: 18px;
    transition-duration: 0.6s;
}

.using-cloud button:hover {
    background-color:#fff;
    border: 1px solid #005D91;
    border-radius: 4px;
    box-shadow: none;
    color: #005D91;
}

.using-cloud .cta {
    padding-left: 0;
}

.using-cloud .triple-cta-button .cta .btn {
    margin: 15px 0;
}

.using-cloud .case-studies-card .devops-case-study {
    border-bottom: none;
}

.using-cloud .case-studies-card .devops-case-study h2 {
    margin-top: 200px;
}

.using-cloud .cta-cards .card-deck .card {
    background-color: #FFF;
    box-shadow: 2px 2px 8px #E2E2E2;
    border-radius: 0;
    min-width: 220px;
    margin-bottom: 30px;
    text-align: left;
}

.using-cloud .cta-cards .card-deck .card:hover {
    box-shadow: inset 0px 0px 10px rgba(169, 175, 179, 0.2);
}

.using-cloud .contact-us-card {
    background-image: url("../images/triangles-contact-us.png"), url("../images/bottom-left-yellow-swoosh.png"), url("../images/top-right-yellow-swoosh.svg");
    background-position: 2% 30%, left bottom, right top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    padding: 100px 0;
    text-align: center;
}

.using-cloud .contact-us-card img {
    margin: 0 0 30px -50%;
}

.using-cloud .contact-us-card h2 {
    padding-right: 40px 0 0 40px;
    text-align: left;
}

.using-cloud .contact-us-card {
    background-position: 25px 100px, left bottom, right top;
}

@media (max-width: 575.98px) {
    .using-cloud
    .jumbotron.hero h1 {
        font-size: 50px;
        text-align: left;
    }

    .using-cloud
    .jumbotron.hero h2 {
        text-align: left;
        font-size: 24px;
    }

    .using-cloud
    .jumbotron.hero img {
        position: relative;
        top: 30px;
        width: 280px;
    }

    .using-cloud .hero-image-container {
        text-align: left;
    }
    .using-cloud .brand-promises-card {
        padding: 100px 0;
        background-color: #FBFBFB;
        background-image: url("../images/bottom-left-yellow-swoosh.png"), url("../images/top-right-yellow-swoosh.svg");
        background-position: left bottom, right top;
        background-repeat: no-repeat, no-repeat;
        text-align: center;
    }

    .using-cloud .brand-promises-card h5 {
        padding-left: 30px;
    }

    .using-cloud .case-studies-card h2 {
        text-align: left;
     }
 
     .using-cloud .case-studies-card p {
         text-align: left;
      }
 
     .using-cloud .case-studies-card .devops-case-study h2 {
         margin-top: 0;
     }
 
     .using-cloud .case-studies-card .why-image-container {
         text-align: left;
     }
 
     .using-cloud .devops-case-study img {
         left: 0;
         top: 0;
         position: relative;
         width: 300px;
         margin: 50px 0 20px;
     }
 
     .using-cloud .contact-us-card {
         padding-left: 30px;
     }

     .using-cloud .contact-us-card h2 {
        padding-bottom: 30px;
    }

     .using-cloud .contact-us-card img {
        margin: 30px auto;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .using-cloud
    .jumbotron.hero img {
        position: relative;
        top: 30px;
        width: 430px;
    }

    .using-cloud .hero-image-container {
        text-align: left;
    }

    .using-cloud .brand-promises-card {
        padding: 100px 0;
        background-color: #FBFBFB;
        background-image: url("../images/bottom-left-yellow-swoosh.png"), url("../images/top-right-yellow-swoosh.svg");
        background-position: left bottom, right top;
        background-repeat: no-repeat, no-repeat;
        text-align: center;
    }

    .using-cloud
    .case-studies-card {
        padding-top: 0;
    }
    
    .using-cloud .case-studies-card .devops-case-study h2 {
        margin-top: 0;
    }

    .using-cloud .hero-image-container {
        text-align: right;
    }

    .using-cloud .devops-case-study img {
        position: relative;
        text-align: left;
        margin-bottom: 50px;
        margin-top: 100px;
    }

    .using-cloud .contact-us-card {
        background-image: url("../images/triangles-contact-us.png"), url("../images/bottom-left-yellow-swoosh.png"), url("../images/top-right-yellow-swoosh.png");
        background-position: 2% 30%, left bottom, right top;
        background-repeat: no-repeat, no-repeat, no-repeat;
        padding: 100px 0;
    }
    

    .using-cloud .contact-us-card {
        background-position: 25px 100px, left bottom, right top;
    }

    .using-cloud .contact-us-card img {
        margin-left: 0px;
    }

    .using-cloud .contact-us-card .contact-us-intro {
        padding-bottom: 50px;
    }
        
    .using-cloud .cta-cards .card-deck {
        padding-left: 30px;
    }

    .using-cloud .cta-cards .card-deck .card {
        min-width: 270px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .using-cloud
    .jumbotron.hero img {
        position: relative;
        top: 30px;
    }

    .using-cloud .hero-image-container {
        text-align: left;
    }
    .using-cloud .brand-promises-card {
        padding: 100px 0;
        background-color: #FBFBFB;
        background-image: url("../images/bottom-left-yellow-swoosh.png"), url("../images/top-right-yellow-swoosh.svg"), url("../images/dotted-triangles-yellow.svg"), url("../images/dotted-triangles-yellow.svg");
        background-position: left bottom, right top, left center, right center;
        background-repeat: no-repeat, no-repeat, repeat-y, repeat-y;
    }

    .using-cloud .devops-case-study img {
        margin-top: 60%;
        width: 120%;
    }

    .using-cloud
    .case-studies-card {
        padding-top: 0;
    }

    .using-cloud .contact-us-card {
        background-image: url("../images/triangles-contact-us.png"), url("../images/bottom-left-yellow-swoosh.png"), url("../images/top-right-yellow-swoosh.png");
        background-position: 2% 30%, left bottom, right top;
        background-repeat: no-repeat, no-repeat, no-repeat;
        padding: 100px 0;
    }

    .using-cloud .contact-us-card {
        background-position: 70px 100px, left bottom, right top;
    }

    .using-cloud .contact-us-card img {
        margin-left: 0px;
    }

    .using-cloud .contact-us-card .contact-us-intro {
        padding-bottom: 50px;
    }
    
    .using-cloud .cta-cards .card-deck .card {
        min-width: 270px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .using-cloud
    .jumbotron.hero img {
        left: 30px;
        top: -100px;
        width: 400px;
    }

    .using-cloud .devops-case-study img {
        margin-top: 50%;
    }

    .using-cloud .contact-us-card {
        background-image: url("../images/triangles-contact-us.png"), url("../images/bottom-left-yellow-swoosh.png"), url("../images/top-right-yellow-swoosh.png");
        background-position: 2% 30%, left bottom, right top;
        background-repeat: no-repeat, no-repeat, no-repeat;
        padding: 100px 0;
    }

    .using-cloud .contact-us-card img {
        margin-top: 50px;
    }
    
    .using-cloud .contact-us-card h2 {
        padding: 40px 0 0 40px;
    }


    .using-cloud .contact-us-card {
        background-position: 70px 160px, left bottom, right top;
    }

    .using-cloud .contact-us-card img {
        margin-left: 0px;
    }

    .using-cloud .contact-us-card .contact-us-intro {
        padding-bottom: 50px;
    }
    
    .using-cloud .cta-cards .card-deck .card {
        min-width: 260px;
    }

}

@media (min-width: 1200px) {
    .using-cloud .hero-image-container {
        text-align: left;
    }
    .using-cloud
    .jumbotron.hero img {
        left: 30px;
        top: -150px;
    }

    .using-cloud .devops-case-study img {
        margin-top: 50%;
        width: 380px;
    }

    .using-cloud
    .case-studies-card {
        padding-top: 0;
    }

    .using-cloud .contact-us-card {
        background-image: url("../images/triangles-contact-us.png"), url("../images/bottom-left-yellow-swoosh.png"), url("../images/top-right-yellow-swoosh.svg");
        background-position: 2% 30%, left bottom, right top;
        background-repeat: no-repeat, no-repeat, no-repeat;
        padding: 100px 0;
    }
    .using-cloud .contact-us-card img {
        margin-top: 50px;
        padding-left: 0;
        margin-left: -58px;
    }

    .using-cloud .contact-us-card {
        background-position: 5% 160px, left bottom, right top;
    }

    .using-cloud .contact-us-card h2 {
       padding: 40px 0 0 40px;
    }

    .using-cloud.cta-cards .card-deck .card {
        min-width: 260px;
    }
}