{{ define "main" }}

<main class="post">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 col-xs-12">
            <article>
                <header>
                    <h1>{{.Title}}</h1>
                    <div> {{.Lastmod.Format "January 2, 2006"}} / {{ $.Param "author" }} </div>
                </header>
                {{.Content}}
            </article>
        </div>
    </div>


    <div class="row nav-buttons back-foward in-content">
        <div class="col-xl-4 offset-xl-2 back-button">
            <a href="{{ (.Site.Pages.ByWeight.Prev .).Permalink }}"><button class="btn">
                    <div class="triangle-left">
                        <div class="inner-left-triangle"></div>
                    </div>Previous Post
                </button></a>
        </div>
        <div class="col-xl-4 foward-button">
            <a href="{{ (.Site.Pages.ByWeight.Next .).Permalink }}">
                <button class="btn">
                    Next Post<div class="triangle-right">
                        <div class="inner-triangle"></div>
                    </div>
                </button></a>
        </div>
    </div>

    <div class="social">
        {{ partial "share-buttons.html" . }}
        <i class="far fa-copy copy-page-link"></i>
    </div>


    </div>
</main>
{{ end }}